<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }
    .content-wrapper{
        background:white
    }
    .example2 th{
        color:white;
        background-color: #006ba6;
        text-align:center
    }
    .btnTD{
        text-align:center;
    }
    .info{
        font-weight: bold;
    }
    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color:black;
    }
    .lightbox-modal{
        z-index:99999 !important;
    }
    .bder{
        border:0px solid black;
    }
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d9e5f3;
    }
    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }	
    .req-field {
        color: red;
    }
    .paddingZero{
        padding: 0px !important;
    }
  
	progress[value] {
	  /* Reset the default appearance */
	  -webkit-appearance: none;
	   appearance: none;

	  width: 250px;
	  height: 20px;
	}
	progress[value]::-webkit-progress-bar {
	  background-color: #eee;
	  border-radius: 2px;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	}
	progress[value]::-webkit-progress-value {
	  background-image:
		   -webkit-linear-gradient(-45deg, 
								   transparent 33%, rgba(0, 0, 0, .1) 33%, 
								   rgba(0,0, 0, .1) 66%, transparent 66%),
		   -webkit-linear-gradient(top, 
								   rgba(255, 255, 255, .25), 
								   rgba(0, 0, 0, .25)),
		   -webkit-linear-gradient(left, #09c, #f44);

		border-radius: 2px; 
		background-size: 35px 20px, 100% 100%, 100% 100%;
	}
	
	
	.sec-head{
		overflow:hidden;
		animation: bgColor 8s normal forwards;
	}	
	.bgPulse{
		width: 100%;
		height: 100%;
	}	
	.bgPulse span{
		position: absolute;
		width: 50px;
		height: 50px;
		background: #fff;
		
	}	
	.bgPulse span:nth-child(2n+1){
		background: transparent;
		border: 5px solid #fff;
	}	
	.bgPulse span:nth-child(1){
		border-radius:12px;
		top: 30%;
		left: 30%;
		animation: animate 10s linear infinite;
	}	
	.bgPulse span:nth-child(2){
		top: 20%;
		left: 50%;
		animation: animate 15s linear infinite;
	}	
	.bgPulse span:nth-child(3){
		top: 40%;
		left: 70%;
		animation: animate 20s linear infinite;
	}	
	.bgPulse span:nth-child(4){
		border-radius:12px;
		top: 60%;
		left: 80%;
		animation: animate 12s linear infinite;
	}
	.bgPulse span:nth-child(5){
		top: 60%;
		left: 40%;
		animation: animate 17s linear infinite;
	}
	.bgPulse span:nth-child(6){
		border-radius:12px;
		top: 60%;
		left: 60%;
		animation: animate 22s linear infinite;
	}
	.bgPulse span:nth-child(7){
		top: 60%;
		left: 20%;
		animation: animate 17s linear infinite;
	}	
	@keyframes animate{
		0% { transform: scale(0) translateY(0) rotate(0deg); opacity: 0; }
		50% { opacity: 0.4; }
		100% { transform: scale(1) translateY(-100px) rotate(360deg); opacity: 1; }
	}
	@keyframes bgColor{
		0%   { background: #337ab7 ;  }
		25%  { background: #337ab7 ;  }
		50%  { background: #337ab7 ;  }
		100% { background: #337ab7 ;  }
	}
	.empbox{
		padding-bottom: 15px;
		text-align: center;
		width: auto;
		height: 130px;
		margin-right: auto;
		margin-left: auto;
		background: #f57000;
		vertical-align: middle;
		border-radius: 15px;
		color: white;
		min-width:150px;
	}
	.select2-container--default .select2-selection--single {
		border: none !important;
		border-bottom: 1px solid black !important;
		height: 30px !important;
		padding: 1px !important;
		text-align-last: left !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 30px !important;
	}
	.lbl_link{ font-weight: 600 !important; }
	
	tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:300px;              // Select the height of the table
 display: -moz-groupbox;    // Firefox Bad Effect
}
tbody{
  overflow-y: scroll;      
  height: 200px;            // Select the height of the body
  width: 100%;
  position: absolute;
}
	
	
</style>
<div class="wrapper" ng-controller="TKTimeclossingController" ng-init="dashboard.active();">

    <div class="main-header" ng-include="headerTemplate"></div> 
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div> 
    
    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
		<section style="height: auto;color: #ffff;text-shadow: 12;box-shadow: 0 8px 6px -6px black;border:none">
			<div class="well well-graphic bg-blue" style=" height: auto !important; 
                margin-bottom: 10px !important;
                padding-top: 8px;
                padding-bottom: 8px; border-radius:0px; border:none">
					<div class="row">
						<div class="col-md-6" style="margin-bottom:15px">
							<a style="color: white !important;" class="">
								<img ng-src="assets/images/icons/HRIS Dashboard icon Timekeeper.png"
									style="height: 80px;  border-radius: 50%; margin-right:0px" class="user-image pull-left"
									alt="User Image">
							</a>
							<div >
								<p class="respontext" style=" margin: 0 0 0px !important; font-weight: lighter !important;font-size: 40px;">Timekeeper's Portal</p>
								<p style=" margin: 0 0 0px !important; font-weight: lighter !important; font-size:20px;text-indent: 5px;">Timesheet Closing</p>
							</div>
						</div>
						<div class="col-md-6" style="text-align: -webkit-right;padding-top:10px">
							<ol class="breadcrumb" style="width: 325px;font-size: 9pt;margin-bottom: 0px;margin-top:10px">
								<li style="color:black !important"><a href=".#/admin/home" style="color:black !important"><i class="fa fa-dashboard"></i> Home</a></li>
								<li style="color:black !important"><a href=".#/admin/tk/dashboard" style="color:black !important">Timekeeper's Portal</a></li>
								<li class="active">Timesheet Closing</li>
							</ol>
						</div>
					</div>
            </div>
        </section>

        <section class="content" style="padding-top:70px">                
			<div class="row">
				<form role="form" name="frm_link">
					<div class="col-md-12">
						<div class="col-md-9 paddingZero" >
							<div class="col-xs-6" style="margin-bottom:10px;padding: 0px;padding-right: 10px;">
								<label class="lbl_link" style="padding-left:15px">Current Cut Off Period: {{ dashboard.values.period.pay_start }} To {{ dashboard.values.period.pay_end }}</label>
								<div class="form-group">
									<div class="col-xs-6 ">
										<input placeholder="Select Start Date" type="text" readonly datepickers ng-model="processing.sdate" class="form-control" style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" maxlength="10" id="sdate" name="sdate" required ng-disabled="isSaving" >
									</div>
									<div class="col-xs-6 paddingZero">
										<input placeholder="Select End Date" type="text" readonly datepickers ng-model="processing.fdate" class="form-control" style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;" maxlength="10" id="fdate" name="fdate" required ng-disabled="isSaving" >
									</div>
								</div>
							</div>
							<div class="col-xs-6 paddingZero" style="margin-bottom:10px">
								<div class="form-group">
									<div class="col-xs-8 paddingZero" style="padding-right:15px !important">
										<!--label class="lbl_link">Filter By Classification</label>
										<select select2 id="classi" name="classi" 
											ng-model="processing.classi"
											ng-options="bunit.id as bunit.name for bunit in dashboard.values.depts  | orderBy:'name' track by bunit.id" 
											ng-disabled="isSaving" style="font-size:14px;color: #555;border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;    padding-top: 0px;padding-bottom: 0px;padding: 6px 12px;" >
											<option value="">Select Classification</option>
										</select-->
									</div>
									<div class="col-xs-4 text-right paddingZero" style="padding-top:20px !important">
										<button ng-disabled="isSaving" type="submit" class="btn btn-success" style="width:85%" ng-click="process()" > Close </button>
									</div>
								</div>
							</div>
							<div class="col-xs-12 paddingZero" style="margin-bottom:30px">
								<div class="col-xs-12" style="padding-right: 0px;margin-bottom:15px">
									<label id="progstatus" class="lbl_link"> Progress Bar </label>
									<progress id="progressbar" value="0" max="100" style="width:100%;height:33px" ></progress>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-12">
								<div class="form-group">
									<a href="#/admin/tk/pair" >
										<p class="empbox">
											<span style="font-size: 55pt !important;">{{ file_ctr }}</span><br/>
											<sub style="font-size: 12pt;">Total Record Closed</sub>
										</p>
									</a>
								</div>
							</div>
						</div>
						
						
							
					</div>
				</form>
			</div>
			
			<div class="row">
				
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="col-md-12" style="border: 1px solid black;height: 395px;min-width: 150px;padding: 1px;margin-bottom: 15px;border-radius: 5px;overflow:hidden" ng-init="vwpayperiod()">
							<table class="table table-condensed table-bordered" style="margin:0px" >
								<thead style="    background: #44a3c0;color: white;font-weight: 500 !important;width: 99% !important;display: inline-table;table-layout: fixed;">
									<th style="text-align:center;vertical-align:middle;">Remaining&nbsp;Period</th>
									<th style="text-align:center;vertical-align:middle;">Cutoff&nbsp;Period</th>
									<th style="text-align:center;vertical-align:middle;">Payroll&nbsp;Period</th>
									<th style="text-align:center;vertical-align:middle;">Pay&nbsp;Period</th>
									<th style="text-align:center;vertical-align:middle;">No.&nbsp;Of&nbsp;Days</th>
									<th style="text-align:center;vertical-align:middle;">Total&nbsp;Headcount</th>
									<th style="text-align:center;vertical-align:middle;">Closing&nbsp;Date</th>
									<th style="text-align:center;vertical-align:middle;">Closed&nbsp;By</th>
									<th style="text-align:center;vertical-align:middle;">Period&nbsp;Status</th>
								</thead>
								<tbody style="height:350px !important;overflow-y:auto">
									<!--tr>
										<td colspan="9" style="text-align:center;vertical-align:middle;">
											<select select2 id="swipeclassi" name="swipeclassi" 
												ng-model="swipeclassi"
												ng-change="recentlyUploadedSwipe( swipeclassi )" 
												ng-options="bunit.id as bunit.name for bunit in dashboard.values.depts  | orderBy:'name' track by bunit.id" 
												required ng-disabled="isSaving" style="font-size:14px;color: #555;border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;padding: 6px 12px;" >
												<option value="">Select Classification</option>
											</select>
										</td>
									</tr-->
									<tr ng-repeat=" pr in zperiod ">
										<td style="text-align:center;vertical-align:middle;">{{ pr.remaining_period }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.cutoff_period }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.payroll_period }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.pay_period }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.daysno }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.headno }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.dateclosed }}</td>
										<td style="text-align:center;vertical-align:middle;">{{ pr.closedby }}</td>
										<td style="text-align:center;vertical-align:middle;"><i class="{{ pr.icon }}"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
			
        </section>        
    </div>

    <div ng-include="footerTemplate"></div>

</div>