<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white
    }

    .example2 th {
        color: white;
        background-color: #f39c12;
        text-align: center;
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .txtresize {
        resize: vertical;
        min-height: 110px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;

    }

    .bgPulse span:nth-child(2n+1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #f7ba5b;
        }

        25% {
            background: #f5b043;
        }

        50% {
            background: #f4a62a;
        }

        100% {
            background: #f39c12;
        }
    }

    @media screen and (min-width: 320px),
    screen and (max-width: 667px) {
        .mwid {
            min-width: 300px !important;
            max-width: 397px !important;
        }
    }

    .fw6 {
        font-weight: 600;
    }

    .fw9 {
        font-weight: 900;
    }

    .respontext {
        font-size: 40px;
    }


    @media screen and (max-width: 1280px) {
        .bheight {
            height: auto !important;
        }


        .tld {
            padding-left: 24px !important;
            padding-right: 0px !important;
        }

        .eh {
            line-height: 11px !important;
        }

        .respontext {
            font-size: 30px !important;
        }

        .f11px {
            font-size: 9px !important;
        }

        .fcheight {
            height: 519px !important;
        }

        .pcomp {
            font-size: 10px !important;
        }

        .f1280 {
            font-size: 12px;
        }


    }

    @media screen and (max-width: 1024px) {
        .bheight {
            height: auto !important;
        }


        .tld {
            padding-left: 15px !important;
            padding-right: 0px !important;
        }

        .eh {
            line-height: 10px !important;
        }

        .respontext {
            font-size: 30px !important;
        }

        .f11px {
            font-size: 9px !important;
        }

        .fcheight {
            height: 519px !important;
        }


    }


    @media screen and (max-width: 414px) {
        .respontext {
            padding-left: 28px;
            font-size: 24px !important;
        }

        .autoh {
            margin-bottom: 60px !important;
            height: auto !important;
        }

        .tld {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .tm {
            margin-left: 15px !important;
            margin-right: 0px !important;
        }

        .ah {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .td1 {
            width: 100% !important;
        }

        .td2 {
            width: 100% !important;
        }



    }

    .autoh {
        height: auto !important;
        margin-bottom: 20px;
    }

    .bheight {
        display: flex;
        height: auto;
    }


    .fw6 {
        font-weight: 600;
    }

    .u {
        text-decoration: underline;
    }

    .tm {
        margin-left: 15px;
        margin-right: 15px;

    }

    .nomargin {
        margin: 0 !important;
    }

    .t14px {
        font-size: 14px;
    }

    .eh {
        font-weight: 800;
        line-height: 16px;
    }

    .t12px {
        font-size: 12px;
    }

    .f11px {
        font-size: 11px;
    }

    #calendar-container {
        position: relative;
        z-index: 1;
    }

    .dl {
        cursor: move;
        z-index: 2;
    }

    .dot {
        height: 22px;
        width: 22px;
        background-color: green;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(13, 87, 13);
    }

    .dot2 {
        height: 22px;
        width: 22px;
        background-color: red;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(83, 13, 13);
    }

    .dot3 {
        height: 22px;
        width: 22px;
        background-color: yellow;
        border-color: white;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(114, 114, 17);
    }


    span {
        margin-left: 5px;
    }

    #block_container {
        height: auto;
        text-align: center;
        width: 100%;
    }

    #bloc1,
    #bloc2 {

        float: left !important;
    }

    /* .btn-group button {

        background-color: #f39c12;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-width: 1px;
        color: white;
    }

    .btn-group:after {
        content: "";
        clear: both;

    } */


    /* */


    .btnTD {
        padding: 0px 18px !important;

    }

    .td1 {
        padding-top: 13px;
        width: 10%;
    }

    .td2 {
        width: 90%;
    }

    .btnTD {
        background-color: rgb(226, 225, 225) !important;
    }

    .ml-5 {
        margin-left: 5px !important;
    }

    .fs25 {
        font-size: 25px;
        margin: 0px;
    }

    .pcomp {
        font-size: 13px;
    }

    .btnTDsunit {
        width: 400px;
    }

    .text-left {
        text-align: left;
    }
</style>

<div class="wrapper" ng-controller="EPPayslipController" ng-init="dashboard.active();">

    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="autoh"
                style=" background-color: #c3c7ca !important; color: white; height: 820px; padding-bottom: 2px;">
                <div class="well well-graphic"
                    style=" height: auto !important; background-color: #f39c12  !important; margin-bottom: 11px !important;">
                   <!-- 
					<div class="well-icon hide-xs col-sm-2 col-md-3 col-lg-1 col-xs-2">
                        <div class="imgauto">
                            <img ng-src="assets/images/lwop.png" style="height: 70px; border-radius: 50%;"
                                class="user-image" alt="User Image">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-9 col-lg-11  col-xs-10">
                        <div class="well-text well-color text-left">
                            <p class="respontext" style="
                            margin: 0 0 -5px !important; font-weight: 600 !important;">Compensation
                            </p>


                        </div>
                    </div>
					-->
					<div class="row">
						<div class="col-md-6">
							<a style="color: white !important;" class="">
								<img ng-src="assets/images/lwop.png"
									style="height: 80px;  border-radius: 50%; margin-right:15px" class="user-image pull-left"
									alt="User Image">
							</a>
							<div >
								<p class="respontext" style=" margin: 0 0 -5px !important; font-weight: 600 ; font-size:28pt">Compensation</p>
							</div>
						</div>
						<div class="col-md-6" style="text-align: -webkit-right;">
							<ol class="breadcrumb" style="width: 335px;font-size: 9pt;margin-bottom: 0px;">
								<li style="color:black !important"><a href=".#/admin/home" style="color:black !important"><i class="fa fa-dashboard"></i> Home</a></li>
								<li style="color:black !important"><a href=".#/admin/emp/dashboard" style="color:black !important">Employee's Portal</a></li>
								<li style="color:black !important">Compensation</li>
								<li class="active">Payslip</li>
							</ol>
						</div>
					</div>
                </div>




                <div class="row" ng-init="setup_compensation()">
                    <div class="col-md-12">
                        <div class="well well-lg text-black bheight text-center tm ">
                            <div id="block_container">
                                <div id="bloc1" class="td1">
                                    <div class="btn-group btn-group-justified" style="margin-bottom: 13px;">
                                        <a href="" class="btn" ng-click="prevc()"
                                            style="background-color: #f39c12; color: white; padding: 0px !important;width : 15%;border: 1px solid black"><i
                                                class="fa fa-angle-double-left"></i></a>
                                        <a href="" class="btn"
                                            style="background-color: #f39c12; color: white;  padding: 0px !important; width : 70%;border: 1px solid black">Cutoff
                                            Period</a>
                                        <a href="" class="btn" ng-click="nextc()"
                                            style="background-color: #f39c12; color: white;  padding: 0px !important; width : 15%;border: 1px solid black"><i
                                                class="fa fa-angle-double-right"></i></a>
                                    </div>



                                    <table style="padding: 5px; width: 100%;">
                                        <tr>
                                            <th class="text-center btnTD f1280"
                                                style="color: white; background-color: #f39c12 !important;">
                                                Payroll Date</th>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                2020-01-31</td>
                                        </tr>
                                        <!--tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                01-17-2020</td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                02-05-2020</td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                02-020-2020</td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                01-02-2020</td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom:1pt solid rgb(194, 194, 194); padding: 4px;">
                                                01-02-2020</td>
                                        </tr-->
                                    </table>
                                </div>
                                <div id="bloc2" class="td2">

                                    <table datatable="" dt-options="PLdtOptions" dt-columns="PLdtColumns"
                                        dt-instance="PLdtInstance"
                                        class=" row-border hover table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <th class="btnTD"></th>
                                                <th class="btnTD">UNIT</th>
                                                <th class="btnTD">RATE</th>
                                                <th class="btnTD">TOTAL</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left"
                                                    style="background-color: #f39c12 !important; color: white;">
                                                    TAXABLE
                                                    EARNINGS</th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                            </tr>
											<tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Basic Pay
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">7,500.00</th>
                                                <th class="btnTD" style="background-color: white !important;">7,500.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Sick Pay
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;">0 hours</th>
                                                <th class="btnTD" style="background-color: white !important;">575.08</th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Absences
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;">0 hours</th>
                                                <th class="btnTD" style="background-color: white !important;">575.08</th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Regular
                                                    Overtime</th>
                                                <th class="btnTD" style="background-color: white !important;">0 hours</th>
                                                <th class="btnTD" style="background-color: white !important;">71.00</th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Vacation
                                                    Leave</th>
                                                <th class="btnTD" style="background-color: white !important;">0 hours</th>
                                                <th class="btnTD" style="background-color: white !important;">575.08</th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Sick Leave
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;">0 hours</th>
                                                <th class="btnTD" style="background-color: white !important;">575.08</th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD">TOTAL</th>
                                                <th class="btnTD"></th>
                                                <th class="btnTD">7,500.00</th>
                                            </tr>
                                            <tr>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left"
                                                    style="background-color: #f39c12 !important; color: white;">
                                                    NON-TAXABLE
                                                    EARNINGS</th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Rice
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">2,500.00</th>
                                                <th class="btnTD" style="background-color: white !important;">2,500.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Clothing
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">1,500.00</th>
                                                <th class="btnTD" style="background-color: white !important;">1,500.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Laundry</th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">500.00</th>
                                                <th class="btnTD" style="background-color: white !important;">500.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD"
                                                    style="background-color: hsla(0, 4%, 90%, 0.64) !important;">TOTAL
                                                </th>
                                                <th class="btnTD"
                                                    style="background-color: hsla(0, 4%, 90%, 0.64) !important;"></th>
                                                <th class="btnTD"
                                                    style="background-color: hsla(0, 4%, 90%, 0.64) !important;">4,500.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD">TOTAL GROSS INCOME</th>
                                                <th class="btnTD"></th>
                                                <th class="btnTD">12,000.00</th>
                                            </tr>
                                            <tr>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left"
                                                    style="background-color: #f39c12 !important; color: white;">
                                                    DEDUCTIONS</th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;"></th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Witholding Tax
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    SSS
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">680.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Pag-ibig
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">100.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    Philhealth
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">300.00</th>
                                            </tr>
                                            <tr>
                                                <th class="btnTD text-left" style="background-color: white !important;">
                                                    SSS Salary Loan
                                                </th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;">0.00</th>
                                            </tr>
                                            <tr>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                                <td style="background-color: white !important;"></td>
                                            </tr>
                                            <tr>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD" style="background-color: white !important;"></th>
                                                <th class="btnTD"
                                                    style="background-color: #f39c12 !important; color: white;">NETPAY
                                                </th>
                                                <td style="background-color: white !important;">10,920.00</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

</section>
</div>

<div ng-include="footerTemplate"></div>

</div>