<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white
    }

    .example2 th {
        color: white;
        background-color: #006ba6;
        text-align: center
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .txtresize {
        resize: vertical;
        min-height: 110px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;

    }

    .bgPulse span:nth-child(2n+1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #63a0d4;
        }

        25% {
            background: #4f93ce;
        }

        50% {
            background: #3b87c8;
        }

        100% {
            background: #0073b7;
        }
    }

    .buttons {
        margin-right: 0px;
    }
</style>
<div class="wrapper" ng-controller="MNGAppLeaveController" ng-init="dashboard.active();">

    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section class="content-header sec-head"
            style="height: 150px;color: #ffff;text-shadow: 12;box-shadow: 0 8px 6px -6px black;">
            <div style="font-size: 9em;/*color: #00a65a !important;*/">
                <i class="fa fa-users" style="float: left;color:#00000052"></i>
                <div style="font-size: 20pt;padding-top: 15px;text-indent:15px">Manager's Portal</div>
                <div style="font-size: 15pt;text-indent:15px">{{header}}</div>
            </div>
            <ol class="breadcrumb" style="margin-left:125px;background: #f5f5f5 !important">
                <li><a href=".#/admin/home"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href=".#/admin/mng/dashboard"> Manager's Portal</a></li>
                <li><a href=".#/admin/mng/app/timekeeping/adjustapp"> Applications</a></li>
                <li class="active">{{header}}</li>
            </ol>
            <div class="bgPulse hidden-xs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section class="content">
            <div ng-init="app_leaves_functions()">

                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                    class="example2 row-border hover table-striped table-bordered"></table>
                <div style="margin-bottom:50px;">
                    <button type="button" class="btn btn-danger pull-right actionbtn" data-toggle="modal"
                        data-target="#modal-disapproved" disabled>Disapproved</button>
                    <button type="button" class="btn btn-primary pull-right actionbtn" style="margin-right:5px;"
                        data-toggle="modal" data-target="#modal-approved" disabled>Approved</button>
                </div>
                <!--Search Modal-->
                <div class="modal fade modal-info" id="modal-search" role="dialog"
                    style="background: rgba(0, 0, 0, 0.8);">
                    <div class="modal-dialog">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Search Sick Leave</h4>
                        </div>
                        <div class="modal-body" style="background: #38b3d894 !important">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="search_acct">Employee</label>
                                        <select ng-disabled="isSaving" id="search_acct" class="form-control"
                                            ng-model="search.acct"
                                            ng-options="search_employees.id as search_employees.empname for search_employees in dashboard.values.accounts | filter: filterAcct"
                                            required>
                                            <option value="">Select Employee</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_docu">Document Number</label>
                                        <input type="text" class="form-control" id="search_docu" name="search_docu"
                                            placeholder="Enter Document Number" maxlength="60" ng-model="search.docu">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_docu">Application Status</label>
                                        <select class="form-control" id="app_status" name="app_status"
                                            ng-model="search.appstat">
                                            <option value="">Status</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Disapproved</option>
                                            <option value="3">Pending</option>
                                            <option value="4">Canceled</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
									<div class="form-group">
										<label for="search_leave">Leave Name</label>
										<select ng-disabled="isSaving" id="search_leave" class="form-control" ng-model="search.leave" ng-options="search_leave.id as search_leave.name for search_leave in dashboard.values.leaves" required >
											<option value="">Select Leave</option>
										</select>
									</div>
								</div>	 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_dfrom">Leave Date From</label>
                                        <input type="text" readonly searchdatepickers ng-model="search.datefrom"
                                            class="form-control" placeholder="Date from" maxlength="10"
                                            id="search_dfrom" name="search_dfrom" required />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="search_dto">Leave Date To</label>
                                        <input type="text" readonly searchdatepickers ng-model="search.dateto"
                                            class="form-control" placeholder="Date To" maxlength="10" id="search_dto"
                                            name="search_dto" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline btn-danger pull-left" ng-click="resetSearch()"
                                data-target="#modal-search" data-toggle="modal">Reset</button>
                            <button type="button" class="btn btn-outline btn-primary" ng-click="unitSearch()"
                                data-target="#modal-search" data-toggle="modal">Search</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
    <!--Approved Modal-->
    <div class="modal fade modal-info" id="modal-approved" role="dialog" style="background: rgba(0, 0, 0, 0.8);">
        <div class="modal-dialog">
            <div class="modal-header" style="background: #006ba6 !important; border-color: #006ba6 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Approved</h4>
            </div>
            <div class="modal-body" style="background: white !important">
                <div class="row">
                    <p style="color: rgba(0, 0, 0, 0.8); text-align:center">Are you sure you want to Approve ?</p>
                </div>
            </div>
            <div class="modal-footer" style="background: #006ba6 !important; border-color: #006ba6 !important;">
                <button style="width:100px" type="button" class="btn btn-warning pull-right"
                    data-dismiss="modal">No</button>
                <button style="width:100px" type="button" class="btn btn-success pull-left"
                    ng-click="approve()">Yes</button>
            </div>
        </div>
    </div>

    <!--Dispproved Modal-->
    <div class="modal fade modal-info" id="modal-disapproved" role="dialog" style="background: rgba(0, 0, 0, 0.8);">
        <div class="modal-dialog">
            <div class="modal-header" style="background: #DD4B39 !important; border-color: #DD4B39 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Disapproved</h4>
            </div>
            <form ng-submit="disapproved()">
                <div class="modal-body" style="background: white !important">
                    <div class="row">
                        <p style="color: rgba(0, 0, 0, 0.8); text-align:center">Are you sure you want to Disapprove ?
                        </p>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="eleave_reason">Reason</label>
                                <textarea id="eleave_reason" name="eleave_reason" class="form-control txtresize"
                                    ng-model="cancelreason" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background: #DD4B39 !important; border-color: #DD4B39 !important;">
                    <button style="width:100px" type="button" class="btn btn-warning pull-right"
                        data-dismiss="modal">No</button>
                    <button style="width:100px" type="submit" class="btn btn-success pull-left">
                        Yes</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-include="footerTemplate"></div>

</div>