<!-- Left side column. contains the logo and sidebar -->

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img ng-src="{{ dashboard.values.userInformation.pic }}" style="width:25px" class="img-circle"
                alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{ dashboard.values.userInformation.fname + ' ' + dashboard.values.userInformation.lname }}</p>
        </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" ng-init="activeclass()">

        <li class="header">MAIN NAVIGATION</li>
        <li id="home">
            <a href="#/admin/home">
                <i class="fa fa-dashboard"></i> <span>Back To Dashboard</span>
            </a>
        </li>
        <li id="dashboard" ng-if=" dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE' ">
            <a id="dashboard" href="#/admin/mng/dashboard">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        <!--li class="header" ng-if="dashboard.values.userInformation.undersecretary==''">APPROVALS</li>
        <li class="treeview" id="header-esetting" ng-init="timekeepingcounts()" ng-if="dashboard.values.userInformation.undersecretary==''">
            <a href="">
                <i class="fa fa-universal-access"></i><span>Timekeeping Application</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul id="esetting" class="treeview-menu">
                <li id="changeshiftapp">
                    <a href="#/admin/mng/app/timekeeping/changeshiftapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Change Shift</span>
                        <span class="badge bg-yellow pull-right"
                            ng-if="timekeepingcount.cs != 0">{{timekeepingcount.cs}}</span>
                    </a>
                </li>
                <li id="businesstripapp">
                    <a href="#/admin/mng/app/timekeeping/businesstripapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Official Bussiness Trip</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview" id="header-esetting" ng-init="leavecounts()">
            <a href="">
                <i class="fa fa-universal-access"></i><span>Leaves Application</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul id="esetting" class="treeview-menu">
                <li id="leaveapp" ng-repeat="ltl in leavetypelist | orderBy:'name'"
                    ng-click="apptype(ltl.id, ltl.name); ctrlapp();">
                    <a href="#/admin/mng/app/leaves/leaveapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>{{ltl.name}}</span>
                        <span class="badge bg-yellow pull-right" ng-if="ltl.count != 0">{{ltl.count}}</span>
                    </a>
                </li>
            </ul>
        </li-->
		<li ng-if=" dashboard.values.userInformation.undersecretary=='' || dashboard.values.userInformation.deputymtrx.length > 0 " class="header">STAFF MANAGEMENT</li>
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" class="treeview" >
		  <a href="">
			<i class="fa fa-universal-access"></i><span>Comprehensive Informations</span><i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul id="esetting" class="treeview-menu">
			  <li id="attendancetoday">
				<a href="#/admin/mng/comprehensive/attendancetoday">
				  <i class="fa fa-circle-o text-blue"></i> <span>Attendance Today</span>
				</a>
			  </li>
			  <li id="myteam" >
				<a href="#/admin/mng/comprehensive/myteam">
				  <i class="fa fa-circle-o text-blue"></i> <span>My Team</span>
				</a>
			  </li>
			  <li id="timesheetrecord" >
				<a href="#/admin/mng/comprehensive/timesheetrecord" >
				  <i class="fa fa-circle-o text-blue"></i> <span>Timesheet Record</span>        
				</a>
			  </li>
		  </ul>
		</li>
		<li ng-if=" (dashboard.values.userInformation.undersecretary=='' || dashboard.values.userInformation.deputymtrx.length > 0) " class="treeview" >
            <a href="">
                <i class="fa fa-universal-access"></i><span>Approvals</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul id="approvals" class="treeview-menu">
				<li id="changeshiftapp">
                    <a href="#/admin/mng/app/timekeeping/changeshiftapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Change Shift</span>
                    </a>
                </li>
                <li id="adjustapp">
                    <a href="#/admin/mng/app/timekeeping/adjustapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Attendance Adjustment</span>
                    </a>
                </li>
				<li id="overtimeapp">
                    <a href="#/admin/mng/app/timekeeping/overtimeapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Overtime Application</span>
                    </a>
                </li>
				<li id="obapp">
                    <a href="#/admin/mng/app/timekeeping/obapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Official Business Trip</span>
                    </a>
                </li>
				<li id="leaveapp">
                    <a href="#/admin/mng/app/timekeeping/leaveapp">
                        <i class="fa fa-circle-o text-blue"></i> <span>Leave Application</span>
                    </a>
                </li>
            </ul>
        </li>
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" class="treeview" >
            <a href="">
                <i class="fa fa-universal-access"></i><span>Filing in Behalf</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul id="behalf" class="treeview-menu">
                <li id="apptime">
                    <a href="#/admin/mng/app/timekeeping/apptime">
                        <i class="fa fa-circle-o text-blue"></i> <span>Timekeeping Applications</span>
                    </a>
                </li>
				<li id="appleave">
                    <a href="#/admin/mng/app/timekeeping/appleave">
                        <i class="fa fa-circle-o text-blue"></i> <span>Leave Applications</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-if="dashboard.values.userInformation.undersecretary !='' || dashboard.values.userInformation.type !='EMPLOYEE'" class="header">FILE MAINTENANCE</li>
		<li ng-if="dashboard.values.userInformation.undersecretary !='' || dashboard.values.userInformation.type !='EMPLOYEE'" id="shiftsched">
			<a href="#/admin/mng/scheduler/shiftsched" >
				<i class="fa fa-universal-access"></i> <span>Duty Roster</span>        
			</a>
		</li>
		
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" class="header">REPORTS</li>
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" id="tardinreport">
			<a href="#/admin/mng/report/tardinreport" >
				<i class="fa fa-circle-o text-blue"></i> <span>Tardiness Report</span>        
			</a>
		</li>
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" id="resocent">
			<a href="#/admin/mng/report/resocent" >
				<i class="fa fa-circle-o text-blue"></i> <span>Resolution Center</span>        
			</a>
		</li>
		<li ng-if="dashboard.values.userInformation.undersecretary=='' && dashboard.values.userInformation.type !='EMPLOYEE'" id="yrtdasr">
			<a href="#/admin/mng/report/yrtdasr" >
				<i class="fa fa-circle-o text-blue"></i> <span>YTD Attendance Statistics</span>        
			</a>
		</li>

    </ul>
</section>
<!-- /.sidebar -->