<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white;
    }

    .example2 th {
        color: white;
        background-color: #f39c12;
        text-align: center;
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
    }

    .bgPulse span:nth-child(2n + 1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #f7ba5b;
        }

        25% {
            background: #f5b043;
        }

        50% {
            background: #f4a62a;
        }

        100% {
            background: #f39c12;
        }
    }

    .danger {
        color: red;
        margin: 0px !important;
    }

    .csuccess {
        color: green;
    }
    .cdanger {
        color: red;
    }

    .fw6 {
        font-weight: 600;
    }

    .fw9 {
        font-weight: 900;
    }

    .respontext {
        font-size: 40px;
    }

    @media screen and (max-height: 720px),
    screen and (max-width: 1280px) {
        .bheight {
            height: 492px !important;
        }
    }

    @media screen and (max-height: 667px) {
        .bheight {
            height: 404px !important;
        }
    }

    @media screen and (max-width: 1280px) {

        table.dataTable thead th,
        table.dataTable thead td {
            padding: 0px 0px !important;
        }

        table p {
            margin: 0px !important;
        }

        table {
            font-size: 11px !important;
        }

        table.dataTable tbody th,
        table.dataTable tbody td {
            padding: 9px 4px !important;
        }

        .dataTables_filter {
            margin-right: 0rem !important;
        }

        .dataTables_length {
            margin: 0.2rem 0 0.8rem 0rem !important;
        }

        .btn-group {
            margin-right: 20px !important;
        }

        .bheight {
            height: auto !important;
        }
    }

    @media screen and (max-width: 414px) {
        .respontext {
            padding-left: 28px;
            font-size: 24px !important;
        }

        .autoh {
            margin-bottom: 60px !important;
            height: auto !important;
        }
    }

    .autoh {
        height: auto !important;
        margin-bottom: 20px;
    }

    .bheight {
        height: auto;
    }

    .fw6 {
        font-weight: 600;
    }

    .u {
        text-decoration: underline;
    }

    .tm {
        margin-left: 15px;
        margin-right: 15px;
    }

    .th {
        color: black !important;
        background-color: white !important;
        border-top: 1px solid rgb(77, 73, 73) !important;
        border-bottom: 1px solid rgb(77, 73, 73) !important;
    }

    .circlearancione {
        display: flex;
        align-items: center;
    }

    .dot {
        height: 22px;
        width: 22px;
        background-color: green;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(13, 87, 13);
    }

    .dot2 {
        height: 22px;
        width: 22px;
        background-color: red;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(83, 13, 13);
    }

    .dot3 {
        height: 22px;
        width: 22px;
        background-color: yellow;
        border-color: white;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(114, 114, 17);
    }

    span {
        margin-left: 5px;
    }

    #block_container {
        text-align: center;
    }

    #bloc1,
    #bloc2 {
        display: inline;
    }

    .toolbar {
        margin-left: 80px;
    }

    .btn-group button {
        background-color: #f39c12;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-width: 1px;
        color: white;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .dataTables_filter input[type="search"] {
        border: 1px solid #767676 !important;
        border-radius: 3px;
    }

    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 3px 6px !important;
    }

    .well-lg {
        padding: 5px;
    }

    .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: 1px solid black !important;
        height: 20px !important;
        font-size: 12px;
        padding: 1px !important;
        text-align-last: center !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 10px !important;
    }

    .cgreen {
        color: #00b050;
        font-size: 20px;
    }

    .circle {
        display: inline-block;
        background-color: #fff;
        border: 4px solid red;
        height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 30px;
    }
</style>
<div class="wrapper" ng-controller="EPTimesheetController" ng-init="dashboard.active();">
    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section class="content" style="padding-top: 5px; padding-left: 5px !important; padding-right: 5px !important;">
            <div class="autoh"
                style="background-color: #c3c7ca !important; color: white; height: 820px; padding-bottom: 2px;">
                <div class="well well-graphic bg-yellow"
                    style="height: auto !important; margin-bottom: 10px !important; padding-top: 8px; padding-bottom: 8px;">
                    <div style="display: inline-block; margin-left: 10px;">
                        <a href="#/admin/emp/profile" style="color: white !important;" class="">
                            <img ng-src="assets/images/icon calendar.png" style="height: 60px; border-radius: 50%;"
                                class="user-image pull-left" alt="User Image" />
                        </a>
                        <div class="pull-left" style="padding-left: 10px;">
                            <p class="respontext" style="margin: 0 0 -5px !important;">
                                Timesheet Details
                                <!--a href="#/admin/emp/app/leaveapp/accumulation"-->
                            </p>
                        </div>
                    </div>
                </div>

                <div class="well well-lg text-black bheight text-center tm">
                    <div ng-init="setup_timesheet_functions()">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                            class="example2 row-border hover table-striped table-bordered">
                            <tfoot>
                                <tr>
                                    <th class="th"></th>
                                    <th class="th">
                                        <div class="circle text-center" style=" border: 4px solid green;">
                                            {{totalapproved}}</div>
                                        <p style="margin: 0px;">Aprroved</p>
                                        <!-- <div id="bloc1" class="dot">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                        <div id="bloc2"><span>{{totalapproved}}</span></div> -->
                                    </th>
                                    <th class="th">
                                        <div class="circle text-center" style=" border: 4px solid #da3e28;">
                                            {{totaldeclined}}</div>
                                        <p style="margin: 0px;">Declined</p>
                                        <!-- <div id="bloc1" class="dot2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                        <div id="bloc2"><span>{{totaldeclined}}</span></div> -->
                                    </th>
                                    <th class="th">
                                        <div id="block_container">
                                            <div class="circle text-center" style=" border: 4px solid yellow;">
                                                {{totalpending}}</div>
                                            <p style="margin: 0px;">Pending</p>
                                            <!-- <div id="bloc1" class="dot3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                            <div id="bloc2"><span>{{totalpending}}</span></div> -->
                                        </div>
                                    </th>
                                    <th class="th">Total:</th>
                                    <th class="th">{{workhourstotal}}</th>
                                    <th class="th">{{ totalwh }}</th>
                                    <th class="th">{{ totalewh }}</th>

                                    <th class="th">{{ totallates }}</th>
                                    <th class="th">{{ totalut }}</th>
                                    <th class="th">{{ totalabs}}</th>

                                    <th class="th"></th>
                                    <th class="th"></th>
                                    <th class="th">{{ totalot }}</th>
                                    <th class="th">{{ totallvhrs }}</th>
                                    <th class="th"></th>
                                    <th class="th"></th>
                                </tr>
                            </tfoot>
                        </table>

                        <!-- <div class="modal fade modal-info" id="modal-search" role="dialog"
                            style="background: rgba(0, 0, 0, 0.8);">
                            <div class="modal-dialog">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Search Details</h4>
                                </div>
                                <div class="modal-body" style="background: #38b3d894 !important">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="search_acct">Employee</label>
                                                <select id="search_acct" class="form-control" ng-model="search.acct"
                                                    ng-options="employees.id as employees.empname for employees in dashboard.values.accounts | filter: filterAcct"
                                                    required>
                                                    <option value="">Select Employee</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="search_dfrom">Date From</label>
                                                <input type="text" readonly searchdatepickers ng-model="search.datefrom"
                                                    class="form-control" placeholder="Date from" maxlength="10"
                                                    id="search_dfrom" name="search_dfrom" required />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="search_dto">Date To</label>
                                                <input type="text" readonly searchdatepickers ng-model="search.dateto"
                                                    class="form-control" placeholder="Date To" maxlength="10"
                                                    id="search_dto" name="search_dto" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline btn-danger pull-left"
                                        ng-click="resetSearch()" data-target="#modal-search"
                                        data-toggle="modal">Reset</button>
                                    <button type="button" class="btn btn-outline btn-primary" ng-click="unitSearch()"
                                        data-target="#modal-search" data-toggle="modal">Search</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="modal fade modal-info" id="modal-changeshift" role="dialog"
                style="background: rgba(0, 0, 0, 0.8);">
                <div class="modal-dialog modal-sm">
                    <form ng-submit="proceedcs(wdate)">
                        <div class="modal-header" style="background: #00b050 !important;">
                            <h4 class="modal-title">Change Shift</h4>
                        </div>

                        <div class="modal-body" style="background: white !important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-black">
                                        <label>Shifts</label>
                                        <select name="Type" class="form-control" ng-model="csid" select2 style="
                                                border-top: none;
                                                border-right: none;
                                                border-left: none;
                                                border-image: initial;
                                                border-bottom: 1px solid black;
                                                width: 100%;
                                                height: 30px;
                                                background: white;
                                                padding-top: 0px;
                                                padding-bottom: 0px;
                                            " required>
                                            <option ng-repeat="sl in shiftlist" value="{{sl.id}}">
                                                {{sl.name}}
                                            </option>
                                        </select>
                                        <label>Remarks</label>
                                        <textarea id="leave_remarks" name="leave_remarks" . oninput="auto_grow(this)"
                                            class="form-control txtresize" ng-model="csremarks" required style="
                                                border-top: none;
                                                border-right: none;
                                                border-left: none;
                                                border-image: initial;
                                                border-bottom: 1px solid black;
                                                width: 100%;
                                                height: 30px;
                                                background: white;
                                                padding-top: 0px;
                                                padding-bottom: 0px;
                                            "></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="background: #00b050 !important;">
                            <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal"
                                ng-click="cancelcs(cid)">Cancel</button>
                            <button type="submit" class="btn btn-outline btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="modal-addaj" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8); overflow: scroll !important;">
                <div class="modal-dialog" style="min-width: 450px !important;">
                    <div class="modal-content">
                        <form ng-submit="proceedaa(wdate,addaa.picFile)">
                            <div class="modal-header" style="background-color: #da3e28; color: white; opacity: 1;">
                                <h4 class="modal-title">Apply Adjustment</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="box3" style="height: auto; max-height: 300px;">
                                                <div class="box-body3 table-responsive">
                                                    <table id="example22"
                                                        style="width: 100%; table-layout: fixed; border-collapse: collapse;"
                                                        class="tabless table-bordered">
                                                        <thead>
                                                            <tr style="display: block;">
                                                                <th
                                                                    style="text-align: center; padding: 5px; width: 140px;">
                                                                    Date
                                                                </th>
                                                                <th
                                                                    style="text-align: center; padding: 5px; width: 140px;">
                                                                    Shift
                                                                </th>
                                                                <th
                                                                    style="text-align: center; padding: 5px; width: 140px;">
                                                                    Hours
                                                                </th>
                                                                <th
                                                                    style="text-align: center; padding: 5px; width: 147px;">
                                                                    Action
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody
                                                            style="display: block; overflow-y: auto; height: auto; max-height: 280px;">
                                                            <tr
                                                                ng-repeat="(key, value) in addaa.leave_dates track by $index">
                                                                <td
                                                                    style="text-align: center; padding: 5px; width: 25%;">
                                                                    {{ value.date }}
                                                                </td>
                                                                <td
                                                                    style="text-align: center; padding: 5px; width: 25%;">
                                                                    {{ value.shift }}
                                                                </td>
                                                                <td
                                                                    style="text-align: center; padding: 5px; width: 25%;">
                                                                    {{ value.hrs }}
                                                                </td>
                                                                <td
                                                                    style="text-align: center; padding: 5px; width: 23%;">
                                                                    <select
                                                                        ng-change="calcLeavehrs( addaa.leave_dates[key]['hrs'], addaa.leave_dates[key]['val'], key )"
                                                                        ng-disabled="isSaving2" class="form-control"
                                                                        ng-model="addaa.leave_dates[key]['val']"
                                                                        style="color: black;"
                                                                        ng-if="addaa.leave_dates[key]['val']">
                                                                        <option
                                                                            ng-repeat="(key, value) in addaa.leave_dates[key]['drop'] track by $index"
                                                                            value="{{ value.id }}"> {{ value.valz }}
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="leave_remarks">Remarks</label>
                                            <textarea id="leave_remarks" name="leave_remarks" ng-disabled="isSaving2"
                                                oninput="auto_grow(this)" class="form-control txtresize"
                                                ng-model="aaremarks" style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="leave_file">File</label>
                                            <input ng-disabled="isSaving2" class="form-control" type="file" ngf-select
                                                style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " ngf-multiple="true" ng-model="addaa.picFile" name="file[]"
                                                accept="image/*" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #da3e28; color: white; opacity: 1;">
                                <button style="width: 100px;" data-target="#modal-add" data-dismiss="modal"
                                    type="button" class="btn btn-default pull-left" data-dismiss="modal"
                                    ng-click="cancelaa(cid)">Cancel</button>
                                <button style="width: 100px;" id="btn-unit-add" type="submit"
                                    class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-overtime" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8); overflow: scroll !important;">
                <div class="modal-dialog" style="min-width: 450px !important;">
                    <div class="modal-content">
                        <form ng-submit="proceedot()">
                            <div class="modal-header" style="background-color: #f09401; color: white; opacity: 1;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Apply Overtime</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ot_dstart">Start Date</label>
                                            <input ng-disabled="isSaving" type="text" readonly ng-model="add.otsdate"
                                                class="form-control" placeholder="Start Date" maxlength="10"
                                                id="ot_dstart" style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " name="ot_dstart" required ng-change="changeOTEnd()" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ot_start">Start Time</label>
                                            <input timepick type="text" placeholder="Start" class="form-control"
                                                id="ot_start" style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " name="ot_start" ng-model="add.start_time" required
                                                ng-disabled="isSaving" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ot_dend">End Date</label>
                                            <input ng-disabled="isSaving" type="text" readonly ng-model="add.otfdate"
                                                ng-init="add.otfdate = ''" class="form-control" placeholder="End Date"
                                                style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " maxlength="10" id="ot_dend" name="ot_dend" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ot_end">End Time</label>
                                            <input timepick type="text" placeholder="End" class="form-control"
                                                id="ot_end" name="ot_end" ng-model="add.end_time"
                                                ng-init="add.end_time = ''" style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " required ng-disabled="isSaving" />
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="ot_remarks">Remarks</label>
                                            <textarea id="ot_remarks" name="ot_remarks" ng-disabled="isSaving"
                                                oninput="auto_grow(this)" style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " class="form-control txtresize" ng-model="add.remarks"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #f09401; color: white; opacity: 1;">
                                <button style="width: 100px;" data-target="#modal-add" data-dismiss="modal"
                                    type="button" class="btn btn-default pull-left" data-dismiss="modal"
                                    ng-disabled="isSaving" ng-click="cancelot(cid)">Cancel</button>
                                <button style="width: 100px;" id="btn-unit-add" type="submit" class="btn btn-primary"
                                    ng-disabled="isSaving ">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-leaves" data-backdrop="static" role="dialog"
                style="background: rgba(0, 0, 0, 0.8); overflow: scroll !important;">
                <div style="min-width: 450px;" class="modal-dialog mwid">
                    <form ng-submit="proceedlv(add.picFile)">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #f39c12; color : white;">

                                <h4 class="modal-title">Apply Leave</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-black">
                                            <label>Leave type</label>
                                            <select name="Type" class="form-control" ng-model="lvtype"
                                                ng-change="clvtype()" select2 style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                " required>
                                                <option ng-repeat="ls in leavesumm" value="{{ls.id}}"
                                                    ng-if="ls.available_day != 0">
                                                    {{ls.leave_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="box3" style="height: auto; max-height: 300px;">
                                                <table id="example22"
                                                    style="width: 100%; table-layout: fixed; border-collapse: collapse;"
                                                    class="tabless table-bordered">
                                                    <thead>
                                                        <tr style="display: block;">
                                                            <th style="text-align: center; padding: 5px; width: 130px;">
                                                                Date
                                                            </th>
                                                            <th style="text-align: center; padding: 5px; width: 130px;">
                                                                Shift
                                                            </th>
                                                            <th style="text-align: center; padding: 5px; width: 100px;">
                                                                Hours
                                                            </th>
                                                            <th style="text-align: center; padding: 5px; width: 210px;">
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody
                                                        style="display: block; overflow-y: auto; height: auto; max-height: 280px;">
                                                        <tr
                                                            ng-repeat="(key, value) in addlv.leave_dates track by $index">
                                                            <td style="text-align: center; padding: 5px; width: 130px;">
                                                                {{ value.date }}
                                                            </td>
                                                            <td style="text-align: center; padding: 5px; width: 130px;">
                                                                {{ value.shift }}
                                                            </td>
                                                            <td style="text-align: center; padding: 5px; width: 100px;">
                                                                {{ value.hrs }}
                                                            </td>
                                                            <td style="text-align: center; padding: 5px; width: 210px;">
                                                                <select
                                                                    ng-change="calcLeavehrs( addlv.leave_dates[key]['hrs'], addlv.leave_dates[key]['val'], key )"
                                                                    ng-disabled="isSaving2" class="form-control"
                                                                    ng-model="addlv.leave_dates[key]['val']"
                                                                    style="color: black;"
                                                                    ng-if="addlv.leave_dates[key]['val']">
                                                                    <option
                                                                        ng-repeat="(key, value) in addlv.leave_dates[key]['drop'] track by $index"
                                                                        value="{{ value.id }}">
                                                                        {{ value.valz }}
                                                                    </option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="pull-left" ng-show=" add.leave_dates.length > 0 "> Units
                                                Applied: {{ total_units }}</label>
                                            <label class="pull-right" ng-show=" add.leave_dates.length > 0 ">Leave
                                                Balance: {{ add.leave_dates[0]["bal"] }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="leave_remarks">Remarks</label>
                                            <textarea id="leave_remarks" name="leave_remarks" ng-disabled="isSaving2" .
                                                oninput="auto_grow(this)" class="form-control txtresize"
                                                ng-model="addlv.remarks" ng-init="addlv.remarks = ''" required style="
                                                    border-top: none;
                                                    border-right: none;
                                                    border-left: none;
                                                    border-image: initial;
                                                    border-bottom: 1px solid black;
                                                    width: 100%;
                                                    height: 30px;
                                                    background: white;
                                                    padding-top: 0px;
                                                    padding-bottom: 0px;
                                                "></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color: #f39c12; color : white;">
                            <button id="cancelleave" style="width: 100px;" data-target="#modal-add" data-dismiss="modal"
                                type="button" ng-click="resetCreateAcct(); cancellv(cid);"
                                class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving">
                                Cancel
                            </button>
                            <button style="width: 100px;" id="btn-unit-add" type="submit" class="btn btn-primary"
                                ng-disabled="isSaving2">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div ng-include=" footerTemplate"></div>
    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = element.scrollHeight + "px";
        }
    </script>
</div>