<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }
    .content-wrapper{
        background:white
    }
    .example2 th{
        color:white;
        background-color: #006ba6;
        text-align:center
    }
    .btnTD{
        text-align:center;
    }
    .info{
        font-weight: bold;
    }
    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color:black; 
    }
    .lightbox-modal{
        z-index:99999 !important;
    }
    .bder{
        border:0px solid black;
    }
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d9e5f3;
    }
    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }	
    .req-field {
        color: red;
    }
    .paddingZero{
        padding: 0px !important;
    }
    .txtresize{ 
		resize:vertical; 
		min-height:110px !important;
	}
	
	.sec-head{
		overflow:hidden;
		animation: bgColor 8s normal forwards;
	}	
	.bgPulse{
		width: 100%;
		height: 100%;
	}	
	.bgPulse span{
		position: absolute;
		width: 50px;
		height: 50px;
		background: #fff;
		
	}	
	.bgPulse span:nth-child(2n+1){
		background: transparent;
		border: 5px solid #fff;
	}	
	.bgPulse span:nth-child(1){
		border-radius:12px;
		top: 30%;
		left: 30%;
		animation: animate 10s linear infinite;
	}	
	.bgPulse span:nth-child(2){
		top: 20%;
		left: 50%;
		animation: animate 15s linear infinite;
	}	
	.bgPulse span:nth-child(3){
		top: 40%;
		left: 70%;
		animation: animate 20s linear infinite;
	}	
	.bgPulse span:nth-child(4){
		border-radius:12px;
		top: 60%;
		left: 80%;
		animation: animate 12s linear infinite;
	}
	.bgPulse span:nth-child(5){
		top: 60%;
		left: 40%;
		animation: animate 17s linear infinite;
	}
	.bgPulse span:nth-child(6){
		border-radius:12px;
		top: 60%;
		left: 60%;
		animation: animate 22s linear infinite;
	}
	.bgPulse span:nth-child(7){
		top: 60%;
		left: 20%;
		animation: animate 17s linear infinite;
	}	
	@keyframes animate{
		0% { transform: scale(0) translateY(0) rotate(0deg); opacity: 0; }
		50% { opacity: 0.4; }
		100% { transform: scale(1) translateY(-100px) rotate(360deg); opacity: 1; }
	}
	@keyframes bgColor{
		0%   { background: #63a0d4 ;  }
		25%  { background: #4f93ce ;  }
		50%  { background: #3b87c8 ;  }
		100% { background: #0073b7 ;  }
	}
    @media screen and (max-width: 414px) {
        .fwzhreso{
            font-size: 12pt;
            text-align: left;
            width: 100px;
        }
        .inoutwid{
            width:180px !important;
        }
        .resocenwid{
            width: 190px !important;
        }
        .resocent{
            width:290px;
            text-align: center;
            border-radius: 7px;
            height:40px;
            margin-left: 30px;
            padding-top: 9px;
    }

    }
    @media screen and (min-width: 320px),
    screen and (max-width: 667px) {
        .mwid {
            min-width: 300px !important;
            max-width: 397px !important;
        }
    }
    @media screen and (max-width: 1366px) {
        .fwzhreso{
            font-size: 12pt;
            text-align: left;
            width: 100px;
        }
        .inoutwid{
            width:230px !important;
        }
        .resocenwid{
            width: 240px !important;
        }
    }
    @media screen and (max-width: 1024px) {
        .fwzhreso{
            font-size: 12pt;
            text-align: left;
            width: 100px;
        }
        .inoutwid{
            width:190px !important;
        }
        .resocenwid{
            width: 190px !important;
        }


    }


    .style-15::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: #F5F5F5;
    }

    .style-15::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#0073b7),
                to(#178dd1),
                color-stop(.6, #06507a))
    }
	 /* HeaderBackground */
     .background{
        color:white;
        background-color: #00a65a;
        text-align:center
    }
     /* freeze Header */
	tbody{
		display:block;
        /* overflow:auto;  */
	}
	thead, tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
	} 
    /* END */
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #00a65a;
        border-color: #00a65a;
    }
    .mar0{
        margin: 0 !important;
    }
    .fwzh{
        font-size: 12pt;
        text-align: left;
    }
    .padleft5{
        padding-left: 5px;
    }
    .fwz {
        font-size: 12pt;
    }
    .fwz1 {
        font-size: 11pt;
        vertical-align: top;
        word-wrap: break-word;
        padding: 5px;
    }
    .bhit{
        height: 40px;
        width: 120px;
        /* font-size: 13pt; */
    }
    .bhitreso{
        height: 40px;
        /* width: 30px; */
    }
   
    
    /* .resocenwid{
        width:350px;
    } */
    .outs{
        text-align: center;
        width: 100px;
        height: 40px;
        border-radius: 7px;
        padding-top: 10px;
        color:#FFF;
    }
    .ins{
        text-align: center;
        width: 100px;
        height: 40px;
        border-radius: 7px;
        padding-top: 10px;
        color:#FFF;
    }
    .inoutwid{
            width:290px;
            text-align: center;
            border-radius: 7px;
            height:40px;
            padding-top: 9px;
    }
    .resocent{
            width:290px;
            text-align: center;
            border-radius: 7px;
            height:40px;
            margin-left: 30px;
            padding-top: 9px;
    }
    .padtop5{
        padding-top:5px;
    }
    /* .padtop15{
        padding-top:15px !important;
 
    } */
    
	.respontext {
		font-size: 40px;
	}
    /* .resowid{
        width:200px;
    } */
    .padbot20{
        padding-bottom: 20px;
    }
    .fwzhreso{
            font-size: 12pt;
            /* text-align: left; */
            width:200px;
    }
    /* ModalFilter */
    .select2-container--default .select2-selection--single {
        border: none !important;
		border-bottom: 1px solid black !important;
		height: 30px !important;
		padding: 1px !important;
		text-align-last: center !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 30px !important;
	}
	
</style>
<div class="wrapper" ng-controller="MNGAttendanceTodayController" ng-init="dashboard.active();">

    <div class="main-header" ng-include="headerTemplate"></div> 
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div> 
    
    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section style="height: auto;color: #ffff;text-shadow: 12;box-shadow: 0 8px 6px -6px black;border:none">
			<div class="well well-graphic bg-blue" style=" height: auto !important; 
                margin-bottom: 10px !important;
                padding-top: 8px;
                padding-bottom: 8px; border-radius:0px; border:none">
                    
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:15px">
                        <a style="color: white !important;" class="">
                            <img ng-src="assets/images/icons/HRIS Dashboard icon Manager.png"
                                style="height: 80px;  border-radius: 50%; margin-right:15px" class="user-image pull-left"
                                alt="User Image">
                        </a>
                        <div >
                            <p class="respontext" style=" margin: 0 0 -5px !important; font-weight: lighter !important;">Staff Management</p>
                            <p style=" margin: 0 0 -5px !important; font-weight: lighter !important; font-size:20px">Attendance Today - {{ today | date:"EEEE," }} {{today | date:"MMM d, yyyy"}}</p>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: -webkit-right;padding-top:10px">
                        <ol class="breadcrumb" style="width: 280px;font-size: 9pt;margin-bottom: 0px;margin-top:10px">
                            <li style="color:black !important"><a href=".#/admin/home" style="color:black !important"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li style="color:black !important"><a href=".#/admin/emp/dashboard" style="color:black !important">Manager's Portal</a></li>
                            <li class="active">Attendance Today</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
			<div class="row mar0">	
                <div class = "col-md-12" style="text-align: left; margin: 10px 0px 10px 0px;">
                    <div class = "col-md-6 col-xs-12" style="text-align: left;">
                        <div class="search-input-wrapper">
                            <div class="btn-toolbar">
                                <label>Show
                                    <select class="" ng-model="dashboard.values.pageSize">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    entries
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="text-align: right;">
                        <button style="width:100px; margin: 0 3px 0 3px; color: white; border-radius: 5px;border-width: 1px;background: black;" ng-click="export();"><i class="fa fa-file-excel-o fa-sm"></i>&nbsp;&nbsp;&nbsp;Export</button>
                        <button style="width:100px; margin: 0 3px 0 3px; color: white; border-radius: 5px;border-width: 1px;background: black;" title="Search" data-toggle="modal" data-target="#modal-search"><i class="fa fa-search fa-sm"></i>&nbsp;&nbsp;&nbsp;Filter</button>
                        <button id="btn-refreshh" ng-click="refresh();" style="width:100px; margin: 0 3px 0 3px; color: white; border-radius: 5px;border-width: 1px;background: black;"><i class="fa fa-refresh fa-sm"></i>&nbsp;&nbsp;&nbsp;Refresh</button>
                    </div>
                </div>
                <div class = "col-md-12 col-xs-12">
                    <div class="row style-15" style ="overflow-y: auto;">
                        <table id="sortableView" class="sortable table-condensed" ng-init="attendance_func();" style="width: 100%;">
                            <thead >
                                <tr>
                                    <th class = "background fwzh" style="height:40px; width:300px; border-radius: 7px 0px 0px 7px; padding-left:100px;" >Name</th>
                                    <th class = "background fwzh padleft5" style="width:100px">Temperature</th>
                                    <th class = "background fwzh padleft5" style="width:200px">Position</th>
                                    <th class = "background fwzh padleft5" style="width:100px">Shift</th>
                                    <th class = "background fwzh padleft5" style="width:100px">Time IN</th>
                                    <th class = "background fwzh padleft5" style="width:100px">Time OUT</th>
                                    <th class = "background fwzhreso padleft5" style="border-radius: 0px 7px 7px 0px;"><span>Resolution Center</span></th>
                                </tr>
                            </thead>
                            <tbody class="style-15" style="height:600px">
                                <tr dir-paginate="view in attendace_today_view | itemsPerPage: dashboard.values.pageSize" current-page="dashboard.values.attendancetodayPage" ng-show="attendace_today_view.length > 0">
                                   
                                    <td style="width:300px; word-wrap: break-word; vertical-align: center;">
                                        <table class="table text-left table-condensed" style="margin:0px">
                                            <tbody>
                                                <tr>
                                                    <td style="border: none; width: 50px;text-align:center">
                                                        <div class="padtop5">
                                                        <img
                                                            src="assets/php/admin/hr/employee/pix/{{view.pic}}?1591229368"
                                                            style="height: 30px; border-radius: 50%;" class="user-image mar0">
                                                        </div>
                                                    </td>
                                                    <td style="border: none; width: 250px; vertical-align: middle;">
                                                        
                                                        <div class="mar0 fwz padtop151" style="color:#3c8dbc">{{ view.empname }}</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="fwz1" style="width:100px;vertical-align: center;">
                                        <div class="padtop151" style="padding:15px 0px 0px 20px;" ng-bind-html="view.temp"></div>
                                    </td>
                                    <td class="fwz1" style="width:200px;vertical-align: middle;">
                                        <div class="padtop151">{{view.post}}</div>
                                    </td>
                                    <td class="fwz1" style="width:100px;vertical-align: middle;" >
                                        <div class="padtop151">{{view.shift_status}}</div>
                                    </td>
                                    <td class="padbot20" style="width:200px;vertical-align: middle;" >
                                        <table class="table table-condensed" style="margin:0px">
                                            <tr>
                                                <td>
                                                    <div class="ins" style="background-color: lightseagreen;" ng-if="view.in &&(view.shiftin >= view.in)">{{view.in}}</div>
                                                    <div class="ins" style="background-color: red;" ng-if="view.in &&(view.in > view.shiftin)">{{view.in}}</div>
                                                </td>
                                                <td>
                                                    <div class="outs" style="background-color: lightseagreen;" ng-if="view.out &&(view.out >= view.shiftout)">{{view.out}}</div>
                                                    <div class="outs" style="background-color: red;" ng-if="view.out &&(view.shiftout > view.out)">{{view.out}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <div ng-if=" (view.in=='' || view.in==NULL) && 
                                                (view.out=='' || view.out==NULL) &&
                                                (view.sickleave == '' || view.sickleave==NULL) && 
                                                (view.vacationleave == '' || view.vacationleave==NULL) && 
                                                (view.lwop == '' || view.lwop==NULL) && 
                                                (view.pl=='' || view.pl==NULL) && 
                                                (view.spel=='' || view.spel==NULL) && 
                                                (view.bl=='' || view.bl==NULL) && 
                                                (view.el=='' || view.el==NULL) && 
                                                (view.mcl=='' || view.mcl==NULL) && 
                                                (view.berl=='' || view.berl==NULL) && 
                                                (view.ml=='' || view.ml==NULL) && 
                                                view.absent" 
                                                class="inoutwid padtop51" style="background-color:#ff726f; color:white; font-size:13pt;">{{view.absent}}</div>
												
											</tr>
                                            <tr >
                                                <div ng-if="view.sickleave" class="inoutwid padtop51" style="background-color:#008d4c; color:white; font-size:13pt;">{{view.sickleave}}</div>
                                            </tr>
                                            <tr>
                                                <div ng-if="view.vacationleave" class="inoutwid padtop51" style="background-color:#006ba6; color:white; font-size:13pt;">{{view.vacationleave}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.lwop" class="inoutwid padtop51" style="background-color:#63a0d4; color:white; font-size:13pt;">{{view.lwop}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.pl" class="inoutwid padtop51" style="background-color:coral; color:white; font-size:13pt;">{{view.pl}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.spel" class="inoutwid padtop51" style="background-color:darkolivegreen; color:white; font-size:13pt;">{{view.spel}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.bl" class="inoutwid padtop51" style="background-color:tomato; color:white; font-size:13pt;">{{view.bl}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.el" class="inoutwid padtop51" style="background-color:olive; color:white; font-size:13pt;">{{view.el}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.mcl" class="inoutwid padtop51" style="background-color:slategray; color:white; font-size:13pt;">{{view.mcl}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.berl" class="inoutwid padtop51" style="background-color:sandybrown; color:white; font-size:13pt;">{{view.berl}}</div>
                                            </tr>
                                            <tr >
                                                <div ng-if="view.ml" class="inoutwid padtop51" style="background-color:steelblue; color:white; font-size:13pt;">{{view.ml}}</div>
                                            </tr>
                                        </table>
                                    </td>

                                    <td class="padbot20" style="width:200px;vertical-align: middle;">
                                        
                                        <button class="btn btn-lg btn-block bhitreso resocenwid" style="background: orange; color: white;  margin-bottom: 5px; border-radius: 7px;">{{view.reso}}
                                        </button>
                                        
                                    </td>
                      
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--/.Row-->                    
            </div>
            
            <!-- Pagination -->
            <div class="text-right">
                <dir-pagination-controls boundary-links="true" template-url="view/page/dirPagination.html"></dir-pagination-controls>
            </div>
            <!-- /.pagination -->

            <!-- Modal -->
            <div class="modal fade modal-info" id="modal-search" role="dialog" style="background: rgba(0, 0, 0, 0.8);">
                <!-- Modal dialog-->
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background: #006ba6 !important; border-color: #006ba6  !important;" >
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Filter</h4>
                        </div>
                        <!-- display sa modal design-->
                        <div class="modal-body" style="background: white !important">     
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-black">
                                        <label for="employee">Select Employee:</label>
										<select select2 ng-disabled="isSaving" id="search_acct" class="form-control" ng-model="search.acct" ng-options="search_employees.id as search_employees.empname for search_employees in dashboard.values.accounts | filter: filterAcct track by search_employees.id" required style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;    padding-top: 0px;padding-bottom: 0px;">
										</select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group text-black">
                                        <label for="birthdate_from">Position:</label>
                                        <select select2 ng-disabled="isSaving" id="search_post" class="form-control" ng-model="search.post" ng-options="search_employees.idpos as search_employees.post for search_employees in dashboard.values.accounts | unique : 'idpos'  | filter: filterAcct track by search_employees.idpos" required style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;    padding-top: 0px;padding-bottom: 0px;">
										</select>
                                     
                                    </div>
                                </div>
                            </div>   
                        </div>     
                        <div class="modal-footer" style="background: #006ba6 !important; border-color: #006ba6  !important;">
                            <button style="width:100px" ng-click="unitSearch()" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-search"></i> Search</button>
                            <button style="width:100px" type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="resetsearch()">Reset</button>
                        </div>
                    </div>
                    <!-- /.Modal content-->
                </div>
                <!-- /.Modal dialog-->
            </div>
            <!-- /.Modal-->


        </section>        
    </div>

    <div ng-include="footerTemplate"></div>

</div>