<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .content-wrapper {
        background: white
    }

    .example2 th {
        color: white;
        background-color: #006ba6;
        text-align: center
    }

    .btnTD {
        text-align: center;
    }

    .info {
        font-weight: bold;
    }

    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color: black;
    }

    .lightbox-modal {
        z-index: 99999 !important;
    }

    .bder {
        border: 0px solid black;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #d9e5f3;
    }

    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }

    .req-field {
        color: red;
    }

    .paddingZero {
        padding: 0px !important;
    }

    .txtresize {
        resize: vertical;
        min-height: 10px !important;
    }

    .sec-head {
        overflow: hidden;
        animation: bgColor 8s normal forwards;
    }

    .bgPulse {
        width: 100%;
        height: 100%;
    }

    .bgPulse span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;

    }

    .bgPulse span:nth-child(2n+1) {
        background: transparent;
        border: 5px solid #fff;
    }

    .bgPulse span:nth-child(1) {
        border-radius: 12px;
        top: 30%;
        left: 30%;
        animation: animate 10s linear infinite;
    }

    .bgPulse span:nth-child(2) {
        top: 20%;
        left: 50%;
        animation: animate 15s linear infinite;
    }

    .bgPulse span:nth-child(3) {
        top: 40%;
        left: 70%;
        animation: animate 20s linear infinite;
    }

    .bgPulse span:nth-child(4) {
        border-radius: 12px;
        top: 60%;
        left: 80%;
        animation: animate 12s linear infinite;
    }

    .bgPulse span:nth-child(5) {
        top: 60%;
        left: 40%;
        animation: animate 17s linear infinite;
    }

    .bgPulse span:nth-child(6) {
        border-radius: 12px;
        top: 60%;
        left: 60%;
        animation: animate 22s linear infinite;
    }

    .bgPulse span:nth-child(7) {
        top: 60%;
        left: 20%;
        animation: animate 17s linear infinite;
    }


    .style-15::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 0px;
    }

    .style-15::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .style-15::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#0073b7),
                to(#178dd1),
                color-stop(.6, #06507a))
    }

    .fc-week {
        height: 95px !important;
    }

    .fc-scroller {
        height: auto !important;
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0deg);
            opacity: 0;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            transform: scale(1) translateY(-100px) rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes bgColor {
        0% {
            background: #f7ba5b;
        }

        25% {
            background: #f5b043;
        }

        50% {
            background: #f4a62a;
        }

        100% {
            background: #f39c12;
        }
    }

    @media screen and (min-width: 320px),
    screen and (max-width: 667px) {
        .mwid {
            min-width: 300px !important;
            max-width: 397px !important;
        }
    }

    .fw6 {
        font-weight: 600;
    }

    .fw9 {
        font-weight: 900;
    }

    .respontext {
        font-size: 40px;
    }




    @media screen and (max-width: 1280px) {
        .fc-event {
            height: auto !important;
        }

        .fc-content {
            font-size: 10px !important;
        }

        .fc-week {
            height: 75px !important;
        }

        .fc-scroller {
            height: auto !important;
        }

        .bheight {
            height: auto !important;
        }

        #counter td {
            padding: 8px !important;
        }

        .tld {
            padding-left: 24px !important;
            padding-right: 0px !important;
        }

        .eh {
            line-height: 11px !important;
        }

        .respontext {
            font-size: 30px !important;
        }

        .f11px {
            font-size: 9px !important;
        }

        .fcheight {
            height: 519px !important;
        }

        .fc-day-header {
            font-size: .8em !important;
        }

        .fc-toolbar {
            padding: 0px !important;

        }

        .evh {
            height: 327px !important;
            overflow-x: auto !important;
        }

    }

    @media screen and (max-width: 1024px) {
        .bheight {
            height: auto !important;
        }


        .tld {
            padding-left: 15px !important;
            padding-right: 0px !important;
        }

        .eh {
            line-height: 10px !important;
        }

        .respontext {
            font-size: 30px !important;
        }

        .f11px {
            font-size: 9px !important;
        }

        .fcheight {
            height: 519px !important;
        }
    }


    @media screen and (max-width: 414px) {
        .respontext {
            padding-left: 28px;
            font-size: 24px !important;
        }

        .autoh {
            margin-bottom: 60px !important;
            height: auto !important;
        }

        .tld {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .tm {
            margin-left: 15px !important;
            margin-right: 0px !important;
        }

        .ah {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
	
    .autoh {
        height: auto !important;
        margin-bottom: 20px;
    }

    .bheight {
        height: auto;
    }


    .fw6 {
        font-weight: 600;
    }

    .u {
        text-decoration: underline;
    }

    .tm {
        margin-left: 5px;
        margin-right: 5px;

    }

    .nomargin {
        margin: 0 !important;
    }

    .t14px {
        font-size: 14px;
    }

    .eh {
        font-weight: 800;
        line-height: 16px;
    }

    .t12px {
        font-size: 12px;
    }

    .f11px {
        font-size: 11px;
    }

    #calendar-container {
        position: relative;
        z-index: 1;
    }

    .dl {
        cursor: move;
        z-index: 2;
        text-align: left !important;
        white-space:normal;
    }

    .dot {
        height: 22px;
        width: 22px;
        background-color: green;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(13, 87, 13);
    }

    .dot2 {
        height: 22px;
        width: 22px;
        background-color: red;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(83, 13, 13);
    }

    .dot3 {
        height: 22px;
        width: 22px;
        background-color: yellow;
        border-color: white;
        border-radius: 50%;
        line-height: 18px;
        border: 2px solid rgb(114, 114, 17);
    }


    span {
        margin-left: 5px;
    }

    #block_container {
        text-align: center;
    }

    #bloc1,
    #bloc2 {
        display: inline;
    }

    .mt-0 {
        margin-top: 0px;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .evh {
        height: auto;
        overflow-x: auto;
    }

    .evh2 {
        height: auto;
    }

    .circle {
        display: inline-block;
        background-color: #fff;
        border: 4px solid red;
        height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 30px;
    }



    td {
        padding: 8px;
    }

    .danger {
        color: red;
    }

    i {
        cursor: pointer;

    }

    .todrop {
        width: auto;
        background-color: black !important;
    }

    /**/

    .dw {
        width: 150px !important;
    }

    .fc-day-header {
        font-size: .8em !important;
    }

    .fc-toolbar {
        padding: 0px;
        margin: 0;
    }

    .fc-button {
        text-transform: capitalize;
    }

    .fc-basic-view .fc-day-number,
    .fc-basic-view .fc-week-number {
        padding: 0px;
    }

    .fc-day-number {
        font-size: 14px;
        font-weight: 300;
        padding-right: 2px;
    }

    .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: 1px solid black !important;
        height: 20px !important;
        font-size: 10pt;
        padding: 1px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 10px !important;
    }

    /***/
	
	/*
	.staffbox {
        background-color: whitesmoke;
        height: 45px;
        /* height: 60px; */
        margin: 10px;
        padding: 2px;
        box-shadow: 1px 1px 7px 3px #888888;
        color: #444343;
    }

    
	
	.staffname {
		margin-left: 18px !important;
		text-align:left;
	}
	*/
	
	.staffimg {
        height: 30px;
        border-radius: 50%;
        margin-top: 3px;
        margin-left: 6px;
    }
	
</style>
<div class="wrapper" ng-controller="MNGTimeFillingController" ng-init="dashboard.active();">
    <div class="main-header" ng-include="headerTemplate"></div>
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div>

    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
		
		<section style="height: auto;color: #ffff;text-shadow: 12;box-shadow: 0 8px 6px -6px black;border:none">
            
			<div class="well well-graphic bg-blue" style="  height: auto !important;
                margin-bottom: 10px !important;
                padding-top: 8px;
                padding-bottom: 8px;
                border: 0px solid;
                border-radius: 0px;">
                    
					<div class="row">
						<div class="col-md-6" style="margin-bottom:15px">
							<a style="color: white !important;" class="">
								<img ng-src="assets/images/icons/HRIS Dashboard icon Manager.png"
									style="height: 80px;  border-radius: 50%; margin-right:15px" class="user-image pull-left"
									alt="User Image">
							</a>
							<div >
								<p class="respontext" style=" margin: 0 0 -5px !important; font-weight: lighter !important;">Manager's Portal</p>
								<p style=" margin: 0 0 -5px !important; font-weight: lighter !important; font-size:20px">Filing In Behalf</p>
							</div>
						</div>
						<div class="col-md-6" style="text-align: -webkit-right;padding-top:10px">
							<ol class="breadcrumb" style="width: 420px;font-size: 9pt;margin-bottom: 0px;margin-top:10px">
								<li style="color:black !important"><a href=".#/admin/home" style="color:black !important"><i class="fa fa-dashboard"></i> Home</a></li>
								<li style="color:black !important"><a href=".#/admin/emp/dashboard" style="color:black !important">Manager's Portal</a></li>
								<li style="color:black !important">Filing in Behalf</li>
								<li class="active">Timekeeping Application</li>
							</ol>
						</div>
					</div>
                </div>
        </section>
		
		
        <section class="content"
            style="padding-top : 5px; padding-left: 5px !important; padding-right: 5px !important;">
            <div class="autoh"
                style=" background-color: #c3c7ca !important; color: white; height: 820px; padding-bottom: 2px;">
                
				
				

                <div class="row" >
					<div class="col-xs-12 text-right" style="padding:5px; padding-right: 20px; color: white;">
						<button style="width:100px;margin: 0 3px 0 3px;color : white;border-radius: 5px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border-width: 1px;background: black;" title="Search" data-toggle="modal" data-target="#modal-search" ><i class="fa fa-search fa-sm"></i>&nbsp;&nbsp;&nbsp;Filter</button>
						<button style="width:100px;margin: 0 3px 0 3px;color : white;border-radius: 5px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border-width: 1px;background: black;" ng-click="reloadRoute()"><i class="fa fa-refresh fa-sm"></i>&nbsp;&nbsp;&nbsp;Refresh</button>
					</div>
					<div class="col-lg-2 col-md-12 text-center tld" style="padding-left: 20px ; padding-right: 0px " ng-init="myteam()">
						<div class="col-md-12" style="padding: 5px;padding-top:0px">
                            <div style="background-color: white; height: 705px; border-radius: 8px;">
                               
                                <div style="padding: 5px; padding-bottom: 0px; position: -webkit-sticky; /* Safari */ position: sticky; top: 60px;">
                                    <input class="form-control" placeholder="Search..." ng-model="teamfilter">
                                </div>
                                
                                <div class="style-15" style="background-color: white; height: 655px; overflow: auto;padding:10px">
                                    <form>
										<fieldset>
											<div style="padding: 5px; background-color: whitesmoke;  box-shadow: 1px 1px 7px 3px #888888; color: #444343; display:table;width:100%;margin-bottom:10px" ng-repeat="t in team | orderBy:'name'">
												<div style="display:table-cell;width:15%;vertical-align:middle;text-align:center">
													<img ng-src="{{t.pic}}" class="user-image img-circle" alt="User Image" style=" width:30px">
												</div>
												<div style="display:table-cell;width:75%;vertical-align:middle;padding:5px">
													<p style="font-size: 11pt;text-align: left;"  class="nomargin">{{t.name}}</p>
													<p style="font-size: 9pt;text-align: left;"  class="nomargin">{{t.shift_name}}</p>
													<p style="font-size: 9pt;text-align: left;"  class="nomargin">{{t.post}}</p>
												</div>
												<div style="display:table-cell;width:10%;vertical-align:top">
													<input style="cursor:pointer" type="checkbox" class="myteamchk" id="{{'staff' + t.staff_id}}" name="myteamchk" value="{{t.staff_id}}" onclick="angular.element(this).scope().showApplications(this);" />
												</div>
											</div>
										</fieldset>
									</form>
                                </div>
                            </div>
                        </div>
					</div>
                    <div class="col-lg-2 col-md-12 text-center tld" style="padding-left: 0px ; padding-right: 0px ; ">
                        <div
                            style="margin-bottom: 5px; overflow-x: none; padding: 20px; background-color: #f5f5f5; border-radius: 3%; font-size:12pt !important">
                            <h4 class="text-left text-black mt-0">Click and Drag Application
                            </h4>
                            <!--update-->
                            <div style="background-color: #079b49 !important; color:white;" type="button"
                                data-event='{ "title": "Change Shift","backgroundColor": "#079b49", "id" : "p1", "type" : "changeshift"}'
                                class="btn btn-block dl">
                                Change Shift (CS)
                            </div>
                            <div style="background-color: #da3e28 !important; color:white;" type="button"
                                data-event='{ "title": "Attendance Adjustment","backgroundColor": "#da3e28", "id" : "p2", "type" : "attendance"}'
                                class="btn btn-block dl">
                                Attendance Adjustment (AA)
                            </div>
                            <div style="background-color: #f09401 !important; color:white;" type="button"
                                data-event='{ "title": "Overtime","backgroundColor": "#f09401", "id" : "p3", "type" : "overtime"}'
                                class="btn btn-block dl">
                                Overtime (OT)
                            </div>
                            <div style="background-color: #00bbf0 !important; color:white;" type="button"
                                data-event='{ "title": "Official Business Trip","backgroundColor": "#00bbf0", "id" : "p4", "type" : "obtrip", "status" : "application"}'
                                class="btn btn-block dl">
                                Official Business Trip (OB)
                            </div>
                            <!--update-->
                        </div>

                        <div class="text-black"
                            style="margin-bottom: 5px; overflow-x: none; padding: 20px; background-color: #f5f5f5; border-radius: 3%;">
                            <table style="table-layout: fixed ;
                            width: 100%; border-spacing: 2px; font-size:12pt !important" class="text-left">
                                <thead>
                                    <tr id="counter">
                                        <td style="width: 100%; cursor: pointer;">
                                            <div class="circle text-center"
                                                style="border: 4px solid #079b49; z-index: 9999999;">
                                                {{changeshiftcount}}</div>
                                            Change Shift
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="cursor: pointer;">
                                            <div class="circle text-center" style=" border: 4px solid #da3e28;">
                                                {{attendancecount}}</div>
                                            Attendance Adjustment
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="cursor: pointer;">
                                            <div class="circle text-center" style=" border: 4px solid #f09401;">
                                                {{overtimecount}}</div>
                                            Overtime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="cursor: pointer;">
                                            <div class="circle text-center" style=" border: 4px solid #00bbf0;">
                                                {{obcount}}</div>
                                            Official Business Trip
                                        </td>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12" style="padding-left: 0px;">
                        <div class="well well-lg text-black bheight text-center tm " style="padding: 0px !important;">
                            <div class="well well-graphic ah scrollable-element style-15"
                                style="overflow: auto;  margin: 0px !important;">
                                <div id='calendar-container' style="height: 665px;" class="fcheight ">
                                    <div id="calendartimekeeping" fc="" fc-options="timekeepingcalendarOptions"
                                        class="calendar ng-pristine ng-untouched ng-valid ng-isolate-scope fc fc-unthemed fc-ltr ng-not-empty">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>

	<div class="modal fade modal-info" id="modal-search" data-backdrop="static" role="dialog" style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important" >
		<div class="modal-dialog">
			<div class="modal-header" style="background: #0073b7 !important;border-color: #0073b7 !important;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetSearch()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Filter</h4>
			</div>
			<div class="modal-body" style="background: white !important; color:black !important" >
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="short3month">Month</label>
							<select id="short3month" style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;" class="form-control" ng-model="search.month" ng-options="mnth.id as mnth.month for mnth in dashboard.values.minmaxyr.months track by mnth.id" >
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="short3yr">Year</label>
							<select id="short3month" style="border:none;border-bottom: 1px black solid;width:100%;height: 30px;background: white;" class="form-control" ng-model="search.year" ng-options="yr.year as yr.year for yr in dashboard.values.minmaxyr.years track by yr.year" >
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="background: #0073b7 !important; border-color: #0073b7 !important;">
				<button style="width:100px" type="button" class="btn btn-danger pull-left" ng-click="resetSearch()" >Reset</button>
				<button style="width:100px" type="button" class="btn btn-primary" ng-click="searchCalendar()" data-target="#modal-search" data-toggle="modal">Search</button>
			</div>
		</div>
	</div>

    <div class="modal fade" id="modal-attendance" data-backdrop="static" role="dialog"
        style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important">
        <div class="modal-dialog" style="min-width:450px !important">
            <div class="modal-content">
                <form ng-submit="addAdj(addaa.picFile)">
                    <div class="modal-header" style="background-color: #da3e28; color: white; opacity: 1;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetCreateattendanceAcct()"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Apply Adjustment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
							<div class="col-md-12 hidden">
								<div class="form-group pull-right" style="margin:0px;">
									<label for="myteamaa" style="cursor:pointer">
										<input style="cursor:pointer" type="checkbox" id="myteamaa" name="myteamaa" class="appchk"  />
										All Employees
									</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3name">Employee</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3name" class="form-control" ng-model="addaa.emp"
										ng-options="emp.staff_id as emp.staff_lbl for emp in team2 track by emp.staff_id">
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3name2">Per Shift</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3name2" class="form-control" ng-model="addaa.wemp"
										ng-options="wwemp.shift_id as wwemp.shift_name for wwemp in teamshift track by wwemp.shift_id">
									</select>
								</div>
							</div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="leave_start">Date From</label>
                                    <input ng-disabled="isSaving" type="text" readonly class="form-control"
                                        placeholder="Date from" maxlength="10" id="attendance_start" name="leave_start"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="leave_end">Date To</label>
                                    <input ng-disabled="isSaving" type="text" readonly class="form-control"
                                        placeholder="Date To" maxlength="10" id="attendance_end" name="leave_end"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-12 " style="height:30px">
                                <div class="form-group">
                                    <button type="button" style="width:100px" class="btn btn-sm btn-success pull-left"
                                        ng-click="resetCreateattendanceAcct()">Reset</button>
                                    <button type="button" style="width:100px" class="btn btn-sm btn-success pull-right"
                                        ng-click="generateattendanceTbl()">Generate</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="box3" style="height: auto;max-height: 300px; ">
                                        <div class="box-body3 table-responsive">
                                            <table id="example22"
                                                style="width:100%;table-layout: fixed;border-collapse: collapse;"
                                                class="tabless table-bordered">
                                                <thead>
                                                    <tr style="display: block;">
                                                        <th style="text-align:center;padding: 5px;width: 140px;"> Date
                                                        </th>
                                                        <th style="text-align:center;padding: 5px;width: 140px;"> Shift
                                                        </th>
                                                        <th style="text-align:center;padding: 5px;width: 140px;"> Hours
                                                        </th>
                                                        <th style="text-align:center;padding: 5px;width: 147px;"> Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody
                                                    style="display:block;overflow-y: auto;height: auto;max-height: 280px;">
                                                    <tr ng-repeat="(key, value) in addaa.leave_dates track by $index">
                                                        <td style="text-align:center;padding:5px;width: 25%;">
                                                            {{ value.date }}
                                                        </td>
                                                        <td style="text-align:center;padding:5px;width: 25%;">
                                                            {{ value.shift }}
                                                        </td>
                                                        <td style="text-align:center;padding:5px;width: 25%;">
                                                            {{ value.hrs }}
                                                        </td>
                                                        <td style="text-align:center;padding:5px;width: 23%;">
                                                            <select
                                                                ng-change="calcLeavehrs( addaa.leave_dates[key]['hrs'], addaa.leave_dates[key]['val'], key )"
                                                                ng-disabled="isSaving2" class="form-control"
                                                                ng-model="addaa.leave_dates[key]['val']"
                                                                style="color:black;"
                                                                ng-if="addaa.leave_dates[key]['val']">
                                                                <option
                                                                    ng-repeat="(key, value) in addaa.leave_dates[key]['drop'] track by $index"
                                                                    value="{{ value.id }}"> {{ value.valz }} </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="leave_remarks">Remarks</label>
                                    <textarea id="leave_remarks" name="leave_remarks" ng-disabled="isSaving2"
                                        oninput="auto_grow(this)" class="form-control txtresize"
                                        ng-model="addaa.remarks"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="leave_file">File</label>
                                    <input ng-disabled="isSaving2" class="form-control" type="file" ngf-select
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        ngf-multiple="true" ng-model="addaa.picFile" name="file[]" accept="image/*"
                                        required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #da3e28; color: white; opacity: 1;">
                        <button style="width:100px" data-target="#modal-add" data-dismiss="modal" type="button"
                            class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving"
                            ng-click="resetCreateattendanceAcct()">Cancel</button>
                        <button style="width:100px" id="btn-unit-add1" type="submit" class="btn btn-primary"
                            ng-disabled="isSaving2 ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-overtime" data-backdrop="static" role="dialog"
        style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important">
        <div class="modal-dialog" style="min-width:450px !important">
            <div class="modal-content">
                <form ng-submit="addOt()">
                    <div class="modal-header" style="background-color: #f09401; color: white; opacity: 1;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelapp()"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Apply Overtime</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3nameot">Employee</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3nameot" class="form-control" ng-model="add.emp"
										ng-options="emp.staff_id as emp.staff_lbl for emp in team2 track by emp.staff_id">
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3name2ot">Per Shift</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3name2ot" class="form-control" ng-model="add.wemp"
										ng-options="wwemp.shift_id as wwemp.shift_name for wwemp in teamshift track by wwemp.shift_id">
									</select>
								</div>
							</div>
							
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ot_dstart">Start Date</label>
                                    <input ng-disabled="isSaving" type="text" readonly ng-model="add.otsdate"
                                        class="form-control" placeholder="Start Date" maxlength="10" id="ot_dstart"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        name="ot_dstart" required ng-change="changeOTEnd()" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ot_start">Start Time</label>
                                    <input timepick type="text" placeholder="Start" class="form-control" id="ot_start"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        name="ot_start" ng-model="add.start_time" required ng-disabled="isSaving" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ot_dend">End Date</label>
                                    <input ng-disabled="isSaving" type="text" readonly ng-model="add.otfdate" class="form-control" placeholder="End Date"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        maxlength="10" id="ot_dend" name="ot_dend" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ot_end">End Time</label>
                                    <input timepick type="text" placeholder="End" class="form-control" id="ot_end"
                                        name="ot_end" ng-model="add.end_time" 
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required ng-disabled="isSaving" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ot_remarks">Remarks</label>
                                    <textarea id="ot_remarks" name="ot_remarks" ng-disabled="isSaving"
                                        oninput="auto_grow(this)"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        class="form-control txtresize" ng-model="add.remarks" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #f09401; color: white; opacity: 1;">
                        <button style="width:100px" data-target="#modal-add" data-dismiss="modal" type="button"
                            class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving"
                            ng-click="cancelapp()">Cancel</button>
                        <button style="width:100px" id="btn-unit-add2" type="submit" class="btn btn-primary"
                            ng-disabled="isSaving ">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-changeshift" data-backdrop="static" role="dialog"
        style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important">
        <div class="modal-dialog" style="min-width:450px !important">
            <div class="modal-content">
                <form ng-submit="addChangeshift(addcs.picFile)">
                    <div class="modal-header" style="background-color: #079b49; color: white; opacity: 1;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetCreatechangeshiftAcct()"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Apply Change Shift</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3namecs">Employee</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3namecs" class="form-control" ng-model="addcs.emp"
										ng-options="emp.staff_id as emp.staff_lbl for emp in team2 track by emp.staff_id">
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="short3name2cs">Per Shift</label>
									<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3name2cs" class="form-control" ng-model="addcs.wemp"
										ng-options="wwemp.shift_id as wwemp.shift_name for wwemp in teamshift track by wwemp.shift_id">
									</select>
								</div>
							</div>
							
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="shift_start">Date From</label>
                                    <input ng-disabled="isSaving" type="text" readonly class="form-control"
                                        placeholder="Date from" maxlength="10" id="shift_start" name="shift_start"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="shift_end">Date To</label>
                                    <input ng-disabled="isSaving" type="text" readonly class="form-control"
                                        placeholder="Date To" maxlength="10" id="shift_end" name="shift_end"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-12 " style="height:30px">
                                <div class="form-group">
                                    <button type="button" style="width:100px" class="btn btn-sm btn-success pull-left"
                                        ng-click="resetCreatechangeshiftAcct()">Reset</button>
                                    <button type="button" style="width:100px" class="btn btn-sm btn-success pull-right"
                                        ng-click="generatechangeshiftTbl()">Generate</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="box3" style="height: auto;max-height: 300px; ">
                                        <div class="box-body3 table-responsive">
                                            <table id="example22"
                                                style="width:100%;table-layout: fixed;border-collapse: collapse;"
                                                class="tabless table-bordered">
                                                <thead>
                                                    <tr style="display: block;">
                                                        <th style="text-align:center;padding: 5px;width: 160px;"> Date
                                                        </th>
                                                        <th style="text-align:center;padding: 5px;width: 160px;"> Shift
                                                        </th>
                                                        <th style="text-align:center;padding: 5px;width: 247px;"> Action
                                                        </th>
                                                    </tr>
                                                </thead>

                                                </thead>
                                                <tbody
                                                    style="display:block;overflow-y: auto;height: auto;max-height: 280px;">
                                                    <tr ng-repeat="(key, value) in addcs.shift_dates track by $index">
                                                        <td style="text-align:center;padding: 5px;width: 160px;">
                                                            {{ value.date }}
                                                        </td>
                                                        <td style="text-align:center;padding: 5px;width: 160px;">
                                                            {{ value.shift }}
                                                        </td>
                                                        <td style="text-align:center;padding: 5px;width: 247px;">
                                                            <select ng-change="changeshiftid($index)"
                                                                ng-disabled="isSaving2" class="form-control"
                                                                ng-model="addcs.newshift[$index]" style="color:black;"
                                                                ng-if="addcs.shift_dates[key]['val']" required>
                                                                <option
                                                                    ng-repeat="(key, value) in addcs.shift_dates[key]['drop'] track by $index"
                                                                    value="{{ value.id }}"> {{ value.valz }} </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shift_remarks">Remarks</label>
                                    <textarea id="shift_remarks" name="shift_remarks" ng-disabled="isSaving2"
                                        oninput="auto_grow(this)" class="form-control txtresize"
                                        ng-model="addcs.remarks" ng-init="addcs.remarks = ''"
                                        style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: #079b49; color: white; opacity: 1;">
                        <button style="width:100px" data-target="#modal-changeshift" data-dismiss="modal" type="button"
                            class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving"
                            ng-click="resetCreatechangeshiftAcct()">Cancel</button>
                        <button style="width:100px" id="btn-unit-add3" type="submit" class="btn btn-primary"
                            ng-disabled="isSaving2 ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	
	<div class="modal fade" id="modal-obtrip" data-backdrop="static" role="dialog" style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important">
      <div class="modal-dialog" style="min-width:450px !important">
         <div class="modal-content">
            <form ng-submit="addobtrip()">
               <div class="modal-header" style="background-color: #00bbf0; color: white; opacity: 1;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Apply Official Business Trip</h4>
               </div>
               <div class="modal-body">
                  <div class="row">
				  
					 <div class="col-md-6">
						<div class="form-group">
							<label for="short3nameob">Employee</label>
							<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3nameob" class="form-control" ng-model="obemp"
								ng-options="emp.staff_id as emp.staff_lbl for emp in team2 track by emp.staff_id">
							</select>
						</div>
					 </div>
					 <div class="col-md-6">
						<div class="form-group">
							<label for="short3name2ob">Per Shift</label>
							<select select2 style="border:none !important;border-bottom: 1px black solid;width:100%;height: 30px;background: white;padding-top: 0px;padding-bottom: 0px;" id="short3name2ob" class="form-control" ng-model="obshift"
								ng-options="wwemp.shift_id as wwemp.shift_name for wwemp in teamshift track by wwemp.shift_id">
							</select>
						</div>
					 </div>
				  
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="ob_start">Date From</label>
                           <input ng-disabled="isSaving" type="text" readonly class="form-control"
                              placeholder="Date from" maxlength="10" id="ob_start"
                              style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                              required />
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="ob_end">Date To</label>
                           <input ng-disabled="isSaving" type="text" readonly class="form-control"
                              placeholder="Date To" maxlength="10" id="ob_end"
                              style="border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid black; width: 100%; height: 30px; background: white; padding-top: 0px; padding-bottom: 0px;"
                              required />
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="shift_remarks">OB Type</label>
                           <select name="Type" class="form-control" ng-model="obremarks" select2
                              style="border:none;border-bottom: 1px black solid;text-align: center;font-size:12px;width: 100%;text-align-last: center;"
                              required>
                              <option value=""></option>
                              <option value="Convention">Convention</option>
                              <option value="Exhibitions">Exhibitions</option>
                              <option value="Meeting">Meeting</option>
                              <option value="Out of Town">Out of Town</option>
                              <option value="Out of Country">Out of Country</option>
                              <option value="Product Expo">Product Expo</option>
                              <option value="Seminar">Seminar</option>
                              <option value="Training">Training</option>
                              <option value="Others">Others</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer" style="background-color: #00bbf0; color: white; opacity: 1;">
                  <button style="width:100px" data-target="#modal-changeshift" data-dismiss="modal" type="button"
                     class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving"
                     ng-click="cancelapp()">Cancel</button>
                  <button style="width:100px" id="btn-unit-add" type="submit"
                     class="btn btn-primary">Save</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="modal fade" id="modal-mutiple" role="dialog">
      <div class="modal-dialog modal-sm">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body text-center">
               <p>Multiple days ?</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="showadd();">No</button>
            </div>
         </div>
      </div>
   </div>
	
</div>

<div ng-include="footerTemplate"></div>
</div>
<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }
</script>