<style>
    .main-footer {
        background: #fff;
        padding: 5px;
        color: #444;
        border-top: 1px solid #d2d6de;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }
    .content-wrapper{
        background:white
    }
    .example2 th{
        color:white;
        background-color: #006ba6;
        text-align:center
    }
    .btnTD{
        text-align:center;
    }
    .info{
        font-weight: bold;
    }
    .ui-widget-header {
        border: 1px solid green;
        background: #008d4c;
        color:black;
    }
    .lightbox-modal{
        z-index:99999 !important;
    }
    .bder{
        border:0px solid black;
    }
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d9e5f3;
    }
    table.dataTable>tbody>tr.child ul li {
        border-bottom: 0px solid #efefef !important;
    }	
    .req-field {
        color: red;
    }
    .paddingZero{
        padding: 0px !important;
    }
   
</style>
<div class="wrapper" ng-controller="TKSetupOvertimeController" ng-init="dashboard.active();">

    <div class="main-header" ng-include="headerTemplate"></div> 
    <div class="main-sidebar" ng-include="leftNavigationTemplate"></div> 
    
    <div class="content-wrapper">
        <spinner name="form01spinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <section class="content-header">
            <h1>
                Overtime Set Up
            </h1>
            <ol class="breadcrumb">
                <li><a href=".#/admin/home"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href=".#/admin/tk/dashboard"> Timekeeper's Portal</a></li>
				<li><a href=".#/admin/tk/setup/leaves"> Set Up</a></li>
                <li class="active">Overtime</li>
            </ol>
        </section>

        <section class="content">                
			<div ng-init="setup_overtime_functions()">				
				<div class="box-header">
					<button id="btn-refreshh" style="margin-right:3px;" class="btn btn-flat btn-primary pull-right" ng-click="dtInstance.reloadData()" title="Refresh">
						<i class="fa fa-refresh fa-sm" style="padding:3px"></i>Refresh
					</button>
					<button style="margin-right:3px;" class="btn btn-flat btn-primary pull-right" title="Search" data-toggle="modal" data-target="#modal-search"  >
						<i class="fa fa-search fa-sm" style="padding:3px"></i>Filter
					</button>
					<button style="margin-right:3px;" class="btn btn-flat btn-primary pull-right" title="Create" data-toggle="modal" data-target="#modal-add" ng-click="resetCreateAcct()">
						<i class="fa fa-plus-circle fa-sm" style="padding:3px"></i>Add
					</button>	
				</div>
				<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="example2 row-border hover table-striped table-bordered"></table>
				<div class="modal fade modal-info" id="modal-search" role="dialog" style="background: rgba(0, 0, 0, 0.8);" >
					<div class="modal-dialog">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Search Overtime</h4>
						</div>
						<div class="modal-body" style="background: #38b3d894 !important">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="short3name">Name</label>
										<input type="text" class="form-control" id="short3name" placeholder="Enter Name" maxlength="60" ng-model="search.name">
									</div>
								</div>								
								<div class="col-md-6">
									<div class="form-group">
										<label for="short3alias">Alias</label>
										<input type="text" class="form-control" id="short3alias" placeholder="Enter Alias" maxlength="60" ng-model="search.alias">
									</div>
								</div>								
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline btn-danger pull-left" ng-click="resetSearch()" data-target="#modal-search" data-toggle="modal">Reset</button>
							<button type="button" class="btn btn-outline btn-primary" ng-click="unitSearch()" data-target="#modal-search" data-toggle="modal">Search</button>
						</div>
					</div>
				</div>
				<div class="modal fade modal-info" id="modal-add" data-backdrop="static" role="dialog" style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important" >
					<div class="modal-dialog">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Add Overtime</h4>
						</div>
						<div class="modal-body" style="background: #38b3d894 !important">
							<div class="row">
								<form ng-hide="mySignUpForm" role="form" name="registerForm" >
									<div class="col-md-12">
										<div class="form-group">
										  <label for="otname">Name<span class="req-field"> *</span></label>
										  <input type="text" class="form-control" id="otname" name="otname" placeholder="Overtime Name" maxlength="60" ng-model="add.name" required ng-disabled="isSaving" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										  <label for="otalias">Alias<span class="req-field"> *</span></label>
										  <input type="text" class="form-control" id="otalias" name="otalias" placeholder="Alias" maxlength="4" ng-model="add.alias" required ng-disabled="isSaving" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										  <label for="otrate">Rate<span class="req-field"> *</span></label>
										  <input type="text" number-float class="form-control" id="otrate" name="otrate" placeholder="Rate" maxlength="5" ng-model="add.rate" required ng-disabled="isSaving" />
										</div>
									</div>									
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button style="width:100px" data-target="#modal-add" data-dismiss="modal" type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving">Cancel</button>
                    		<button style="width:100px" id="btn-unit-add" type="button" class="btn btn-primary" ng-click="addOvertime( )" ng-disabled="isSaving" >Add</button>
						</div>
					</div>
				</div>
				<div class="modal fade modal-info" id="editModal" data-backdrop="static" role="dialog" style="background: rgba(0, 0, 0, 0.8);overflow:scroll !important" >
					<div class="modal-dialog">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Edit Overtime</h4>
						</div>
						<div class="modal-body" style="background: #38b3d894 !important">
							<div class="row">
								<form ng-hide="mySignUpForm" role="form" name="registerForm2" >
									<div class="col-md-12">
										<div class="form-group">
										  <label for="otname2">Name<span class="req-field"> *</span></label>
										  <input type="text" class="form-control" id="otname2" name="otname2" placeholder="Overtime Name" maxlength="60" ng-model="edit.name" required ng-disabled="isSaving" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										  <label for="otalias2">Alias<span class="req-field"> *</span></label>
										  <input type="text" class="form-control" id="otalias2" name="otalias2" placeholder="Alias" maxlength="4" ng-model="edit.alias" required ng-disabled="isSaving" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										  <label for="otrate2">Rate<span class="req-field"> *</span></label>
										  <input type="text" number-float class="form-control" id="otrate2" name="otrate2" placeholder="Rate" maxlength="5" ng-model="edit.rate" required ng-disabled="isSaving" />
										</div>
									</div>									
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button style="width:100px" data-target="#editModal" data-dismiss="modal" type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-disabled="isSaving" >Cancel</button>
							<button style="width:100px" id="btn-unit-edit" type="button" class="btn btn-primary" ng-click="editOvertime()" ng-disabled="isSaving" >Update</button>
						</div>
					</div>
				</div>
			</div>
        </section>        
    </div>

    <div ng-include="footerTemplate"></div>

</div>