
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>HRI</b>s</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>HR</b>System</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img ng-src="{{ dashboard.values.userInformation.pic }}" style="width:25px" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ dashboard.values.userInformation.fname + ' ' + dashboard.values.userInformation.lname }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="assets/images/undefined.jpg" class="img-circle" alt="User Image">
                <p>
                  {{ dashboard.values.userInformation.fname + ' ' + dashboard.values.userInformation.lname }}
                  <small>{{ dashboard.values.userInformation.etype }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body" style="background:#333">               
                <div class="pull-left">
                  <a href="" ng-click="clearPassword();" data-toggle="modal" data-target="#editpassword" class="btn btn-default btn-flat">Change Password</a>
                </div>
                <div class="pull-right">
                  <a href="" ng-click="dashboard.control.current.autoView('0');logOut();" class="btn btn-default btn-flat">Sign out</a>
                </div>                
                <!-- /.row -->
              </li>
            </ul>
          </li>
         
        </ul>
      </div>
    </nav>
